# Jetlag Bastion CoreDNS Configuration
. {
    errors
    # log

{% if lab in rh_labs or lab == "byol" %}
{%   for dns in labs[lab]['dns'] %}
    forward . {{ dns }}
{%   endfor %}
{% else %}
{%   for dns in dns_servers %}
    forward . {{ dns }}
{%   endfor %}
{% endif %}

    cache 30
    reload

    import Corefile.hosts
}
