# Deployed by Jetlag automation
search {{ base_dns_name }}
{% if public_vlan | default(false) %}
nameserver {{ ansible_default_ipv4.address }}
{% else %}
nameserver {{ bastion_controlplane_ip }}
{% endif %}
{% if lab in rh_labs or lab == "byol" %}
{% for dns in labs[lab]['dns'] %}
nameserver {{ dns }}
{% endfor %}
{% else %}
{% if dns_servers | length == 1 %}
nameserver {{ dns_servers[0] }}
{% elif dns_servers | length >= 2 %}
nameserver {{ dns_servers[0] }}
nameserver {{ dns_servers[1] }}
{% endif %}
{% endif %}
