---
# bastion-network tasks

- name: Stop and disable iptables
  systemd:
    state: stopped
    enabled: false
    name: iptables

- name: Set ipv4 sysctl
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/ipv4.forward.conf
    state: present
    reload: true

- name: Comment out scale lab injected ipv6 disabling
  replace:
    path: /etc/sysctl.conf
    regexp: "net.ipv6.conf.all.disable_ipv6 = 1"
    replace: "# net.ipv6.conf.all.disable_ipv6 = 1"
    backup: true

- name: Set ipv6 sysctl
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/ipv6.conf
    state: present
    reload: true
  loop:
  - name: net.ipv6.conf.all.forwarding
    value: "1"
  - name: net.ipv6.conf.all.disable_ipv6
    value: "0"
  when: controlplane_network | length > 1 or controlplane_network[0] | ansible.utils.ipv6

- name: Increase the size of the arp-cache for dnsmasq
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/arp.conf
    state: present
    reload: true
  loop:
  - name: net.ipv4.neigh.default.gc_thresh1
    value: "8192"
  - name: net.ipv4.neigh.default.gc_thresh2
    value: "32768"
  - name: net.ipv4.neigh.default.gc_thresh3
    value: "65536"
  - name: net.ipv6.neigh.default.gc_thresh1
    value: "8192"
  - name: net.ipv6.neigh.default.gc_thresh2
    value: "32768"
  - name: net.ipv6.neigh.default.gc_thresh3
    value: "65536"

- name: Allow natted traffic through bastion lab interface
  shell: |
    iptables -t nat -A POSTROUTING -o {{ bastion_lab_interface }} -j MASQUERADE

- name: Configure frr routing daemons
  lineinfile:
    path: /etc/frr/daemons
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
  - regexp: ^zebra=
    line: zebra=yes
  - regexp: ^bgpd=
    line: bgpd=yes
  - regexp: ^pbrd=
    line: pbrd=yes
  - regexp: ^staticd=
    line: staticd=yes

- name: Start and enable frr routing
  systemd:
    state: started
    enabled: true
    name: frr

# Bond configuration for scale/performance labs
- name: Setup bastion bond configuration
  when:
    - enable_bond | default(false)
  block:

  - name: Remove existing connections for bond slave interfaces
    nmcli:
      conn_name: "{{ item }}"
      state: absent
    loop:
      - "{{ bastion_bond0_interface1 }}"
      - "{{ bastion_bond0_interface2 }}"

  - name: Create bond0 connection for bastion (dual stack)
    nmcli:
      type: bond
      conn_name: bond0
      ifname: bond0
      ip4: "{{ controlplane_network[0] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[0] }}"
      ip6: "{{ controlplane_network[1] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[1] }}"
      mode: 802.3ad
      miimon: 100
      state: present
    when: controlplane_network | length > 1

  - name: Create bond0 connection for bastion (single stack IPv4)
    nmcli:
      type: bond
      conn_name: bond0
      ifname: bond0
      ip4: "{{ controlplane_network[0] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[0] }}"
      mode: 802.3ad
      miimon: 100
      state: present
    when: controlplane_network | length == 1 and controlplane_network[0] | ansible.utils.ipv4

  - name: Create bond0 connection for bastion (single stack IPv6)
    nmcli:
      type: bond
      conn_name: bond0
      ifname: bond0
      ip6: "{{ controlplane_network[0] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[0] }}"
      mode: 802.3ad
      miimon: 100
      state: present
    when: controlplane_network | length == 1 and controlplane_network[0] | ansible.utils.ipv6

  - name: Add first interface as bond slave
    nmcli:
      type: bond-slave
      conn_name: "bond0-slave-{{ bastion_bond0_interface1 }}"
      ifname: "{{ bastion_bond0_interface1 }}"
      master: bond0
      state: present

  - name: Add second interface as bond slave
    nmcli:
      type: bond-slave
      conn_name: "bond0-slave-{{ bastion_bond0_interface2 }}"
      ifname: "{{ bastion_bond0_interface2 }}"
      master: bond0
      state: present

# Single interface configuration for non-bonded setups
- name: Setup bastion single interface configuration
  when:
    - not enable_bond | default(false)
  block:
  # Connections can end up named "Wired Connection X" and prevent the bastion controlplane interface from being configured
  - name: Get NetworkManager connection name for bastion control-plane interface
    shell: |
      nmcli d show {{ bastion_controlplane_interface }} | grep "GENERAL.CONNECTION:" | sed 's/GENERAL.CONNECTION://g' | xargs
    register: cp_int_nmcli

  - name: Display NetworkManager connection name for bastion control-plane interface
    debug:
      msg: "{{ cp_int_nmcli.stdout }}"

  - name: Disable original bastion control-plane connection to allow reconfiguration
    nmcli:
      type: ethernet
      conn_name: "{{ cp_int_nmcli.stdout }}"
      state: absent
    when: cp_int_nmcli.stdout != bastion_controlplane_interface

  - name: Setup bastion on control-plane network (dual stack)
    nmcli:
      type: ethernet
      conn_name: "{{ bastion_controlplane_interface }}"
      ifname: "{{ bastion_controlplane_interface }}"
      ip4: "{{ controlplane_network[0] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[0] }}"
      ip6: "{{ controlplane_network[1] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[1] }}"
      state: present
    when: controlplane_network | length > 1

  - name: Setup bastion on control-plane network (single stack IPv4)
    nmcli:
      type: ethernet
      conn_name: "{{ bastion_controlplane_interface }}"
      ifname: "{{ bastion_controlplane_interface }}"
      ip4: "{{ controlplane_network[0] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[0] }}"
      state: present
    when: controlplane_network | length == 1 and controlplane_network[0] | ansible.utils.ipv4

  - name: Setup bastion on control-plane network (single stack IPv6)
    nmcli:
      type: ethernet
      conn_name: "{{ bastion_controlplane_interface }}"
      ifname: "{{ bastion_controlplane_interface }}"
      ip6: "{{ controlplane_network[0] | ansible.utils.nthhost(1) }}/{{ controlplane_network_prefix[0] }}"
      state: present
    when: controlplane_network | length == 1 and controlplane_network[0] | ansible.utils.ipv6
