---
# generate-discovery-iso tasks

- name: Set empty static network configuration
  set_fact:
    static_network_config: []

- name : Populate static network configuration
  include_tasks: static_network_config.yml
  with_items:
    - "{{ groups['controlplane'] }}"

- name : BM Nodes Populate static network configuration
  include_tasks: static_network_config.yml
  when: cluster_type == "bm"
  with_items:
    - "{{ groups['worker'] }}"

# - debug:
#     msg: "{{ static_network_config }}"

- name: Generate a discovery ISO
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v1/clusters/{{ ai_cluster_id }}/downloads/image"
    method: POST
    body_format: json
    status_code: [201]
    return_content: true
    body: { "ssh_public_key": "{{ lookup('file', ssh_public_key_file) }}", "static_network_config" : "{{ static_network_config }}", "image_type": "full-iso" }
  register: http_reply

- name: Download discovery ISO
  get_url:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v1/clusters/{{ ai_cluster_id }}/downloads/image"
    dest: "{{ http_store_path }}/discovery.iso"
