---
# create-ai-cluster default vars

# This will be your bastion machine (if you run setup-bastion playbook)
assisted_installer_host: "{{ groups['bastion'][0] }}"
assisted_installer_port: 8090

# Image type for assisted installer (full-iso or minimal-iso)
image_type: "full-iso"

# Manifest for KubeletConfig to adjust max pods
kubelet_config: false
kubelet_config_max_pods: 530
kubelet_config_max_pods_label: "pools.operator.machineconfiguration.openshift.io/worker: ''"

# Manifest for MachineConfig to enable kdump on master nodes
kdump_master_config: false

# Enable applying the below maxconn tuning override during cluster creation
override_kni_infra_haproxy: false
# Manually override the openshift-kni-haproxy max connections via a machineconfig that replaces the
# haproxy templatized config file with one with greater max connections (Original default 20000)
openshift_kni_infra_haproxy_maxconn: 40000

# SNO Only, Performance-addon-operator vars
install_performance_addon_operator: false
reserved_cpus: 0-1,32-33

# SNO Only
du_profile: false
