networking:
  networkType: {{ networktype }}
{% if enable_fips | default(false) %}
fips: true
{% else %}
fips: false
{% endif %}
{% if use_bastion_registry | default(false) %}
imageContentSources:
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ registry_host }}:{{ registry_port }}/edge-infrastructure
  source: quay.io/edge-infrastructure
additionalTrustBundle: |
  {{ mirror_cert.content | b64decode | indent(width=2) }}
{% endif %}
