---
# Jetlag storage related vars

# Note for OCP 4.13 and newer releases the symbolic link for disks may not work on multidisk systems as disks can change
# symbolic links over reboots. Instead it is recommended to identify the by-path for each system type you have or by-id
# for each individual system.
# Examples "/dev/disk/by-path/pci-0000:67:00.0-scsi-0:2:0:0" and "/dev/disk/by-id/wwn-0x5002538e015790e7"
# If your machines are not homogeous per role then you may need to modify the output of the create-inventory playbook.
# Edit and adjust each machine's install_disk= to have the by-path/by-id reference instead of the symbolic reference
# See https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html-single/managing_file_systems/index#device-identifiers_assembly_overview-of-persistent-naming-attributes

# Default install disks for bm/rwn
control_plane_install_disk: /dev/sda
worker_install_disk: /dev/sda
remoteworker_install_disk: /dev/sda

# Default install disk for sno
sno_install_disk: /dev/sda

controlplane_etcd_on_nvme: false
controlplane_nvme_device: /dev/nvme0n1
controlplane_localstorage_configuration: false
controlplane_localstorage_device: /dev/sdb
controlplane_localstorage_lv_count: 10
controlplane_localstorage_lv_size: 100G

worker_localstorage_configuration: false
worker_localstorage_device: /dev/nvme0n1
worker_localstorage_lv_count: 10
worker_localstorage_lv_size: 100G

prometheus_retention_period: 15d

localvolume2_configuration: false
localvolume2_device: /dev/sdc
