#!/bin/bash
# Jetlag worker-setup-lvm.sh
echo "Cleaning vg_ls"
for vg in $(vgs -o name --noheadings | grep "vg_ls") ; do vgremove -y $vg ; done
{% for device in worker_localstorage_lvm_devices %}
pvremove /dev/disk/by-partlabel/LS{{ loop.index0 }}
{% endfor %}
echo "Setting up LVM for local-storage"
vgcreate vg_ls {% for device in worker_localstorage_lvm_devices %}/dev/disk/by-partlabel/LS{{ loop.index0 }} {% endfor %}-f
lvcreate -l 99%VG -T vg_ls/lv_tp_ls
{% for i in range(worker_localstorage_lv_count) %}
lvcreate -V {{ worker_localstorage_lv_size }} -T vg_ls/lv_tp_ls -n lv_w_tv{{ '%02d' % i }}
{% endfor %}
