---
apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "lv-localstorage"
  namespace: "openshift-local-storage"
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
      - key: "localstorage"
        operator: In
        values:
        - "true"
  storageClassDevices:
  - storageClassName: "localstorage-sc"
    volumeMode: Filesystem
    fsType: xfs
    devicePaths:
{% for i in range(master_localstorage_lv_count) %}
      - "/dev/vg_ls/lv_tv{{ '%02d' % i }}"
{% endfor %}
