interfaces:
- name: bond0
  type: bond
  state: up
{% if bastion_controlplane_ip | ansible.utils.ipv4 %}
  ipv4:
{% else %}
  ipv6:
{% endif %}
    address:
    - ip: {{ hostvars[item]['ip'] }}
      prefix-length: {{ hostvars[item]['network_prefix'] }}
{% if cluster_type == "sno" and public_vlan and groups['sno'] | default([]) | length == 1  %}
    - ip: {{ controlplane_network_ingress }}
      prefix-length: {{ hostvars[item]['network_prefix'] }}
{% endif %}
    auto-dns: false
    enabled: true
  link-aggregation:
    mode: 802.3ad
    options:
      miimon: '100'
    port:
{% for interface in hostvars[item]['bond0_interfaces'] %}
    - {{ interface }}
{% endfor %}
{% if 'lab_mac' in hostvars[item] %}
- name: {{ hostvars[item]['lab_interface']}}
  type: ethernet
  state: up
  ipv4:
    auto-dns: false
    enabled: false
{% endif %}
dns-resolver:
  config:
    server:
    - {{ hostvars[item]['dns1'] }}
{% if 'dns2' in hostvars[item] %}
    - {{ hostvars[item]['dns2'] }}
{% endif %}
routes:
  config:
{% if bastion_controlplane_ip | ansible.utils.ipv4 %}
  - destination: 0.0.0.0/0
{% else %}
  - destination: ::/0
{% endif %}
    next-hop-address: {{ hostvars[item]['gateway'] }}
    next-hop-interface: bond0