[
    {
        "mac_address": "{{ hostvars[groups['sno'][0]]['mac_address'] }}",
        "logical_nic_name": "{{ hostvars[groups['sno'][0]]['network_interface'] }}"
    },
    {
        "mac_address": "{{ hostvars[groups['sno'][0]]['lab_mac'] }}",
        "logical_nic_name": "{{ hostvars[groups['sno'][0]]['lab_interface'] }}"
    }
]
