{
  "ignition": {
{% if openshift_version in ["4.8","4.9","4.10","4.11","4.12","4.13","4.14","4.15"] %}
    "version": "3.2.0"
{% else %}
    "version": "3.1.0"
{% endif %}
  },
  "storage": {
    "disks": [
{% if controlplane_etcd_on_nvme %}
      {
        "device": "{{ controlplane_nvme_device }}",
        "wipeTable": true,
        "partitions": [
          {
            "label": "ETCD",
            "sizeMiB": 51200
          },
          {
            "label": "CTNR",
            "sizeMiB": 0
          }
        ]
{% if controlplane_localstorage_configuration %}
      },
{% else %}
      }
{% endif %}
{% endif %}
{% if controlplane_localstorage_configuration %}
      {
        "device": "{{ controlplane_localstorage_device }}",
        "wipeTable": true,
        "partitions": [
          {
            "label": "LS",
            "sizeMiB": 0
          }
        ]
      }
{% endif %}
    ],
    "filesystems": [
{% if controlplane_etcd_on_nvme %}
      {
        "path": "/var/lib/etcd",
        "device": "/dev/disk/by-partlabel/ETCD",
        "format": "xfs",
        "wipeFilesystem": true,
        "label": "ETCD"
      },
      {
        "path": "/var/lib/containers",
        "device": "/dev/disk/by-partlabel/CTNR",
        "format": "xfs",
        "wipeFilesystem": true,
        "label": "CTNR"
      }
{% endif %}
    ],
    "files": [
{% if controlplane_localstorage_configuration %}
      {
        "contents": {
          "source": "data:text/plain;base64,{{ lookup('template', './controlplane-setup-lvm.sh.j2') | b64encode }}"
        },
        "mode": 493,
        "overwrite": true,
        "path": "/usr/local/bin/setup-lvm.sh"
      }
{% endif %}
    ]
  },
  "systemd": {
    "units": [
{% if controlplane_etcd_on_nvme %}
      {
        "name": "var-lib-etcd.mount",
        "enabled": true,
        "contents": "[Mount]\nWhat=/dev/disk/by-partlabel/ETCD\nType=xfs\nOptions=defaults\n[Install]\nWantedBy=local-fs.target"
      },
      {
        "name": "var-lib-containers.mount",
        "enabled": true,
        "contents": "[Mount]\nWhat=/dev/disk/by-partlabel/CTNR\nType=xfs\nOptions=defaults\n[Install]\nWantedBy=local-fs.target"
{% if controlplane_localstorage_configuration %}
      },
{% else %}
      }
{% endif %}
{% endif %}
{% if controlplane_localstorage_configuration %}
      {
        "name": "setup-localstorage.service",
        "enabled": true,
        "contents": "[Unit]\nConditionPathExists=!/var/lib/lvm-setup-complete\n\n[Service]\nType=oneshot\nExecStart=/usr/local/bin/setup-lvm.sh\nExecStartPost=/usr/bin/touch /var/lib/lvm-setup-complete\n[Install]\nWantedBy=multi-user.target"
      }
{% endif %}
    ]
  }
}
