{
  "ignition": {
{% if openshift_version in ["4.8","4.9","4.10","4.11","4.12","4.13"] %}
    "version": "3.2.0"
{% else %}
    "version": "3.1.0"
{% endif %}
  },
  "storage": {
    "disks": [
      {
        "device": "{{ worker_localstorage_device }}",
        "wipeTable": true,
        "partitions": [
          {
            "label": "LS",
            "sizeMiB": 0
          }
        ]
      }
    ],
    "files": [
      {
        "contents": {
          "source": "data:text/plain;base64,{{ lookup('template', './worker-setup-lvm.sh.j2') | b64encode }}"
        },
        "mode": 493,
        "overwrite": true,
        "path": "/usr/local/bin/setup-lvm.sh"
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "name": "setup-localstorage.service",
        "enabled": true,
        "contents": "[Unit]\nConditionPathExists=!/var/lib/lvm-setup-complete\n\n[Service]\nType=oneshot\nExecStart=/usr/local/bin/setup-lvm.sh\nExecStartPost=/usr/bin/touch /var/lib/lvm-setup-complete\n[Install]\nWantedBy=multi-user.target"
      }
    ]
  }
}
