---
# The siteconfig resources
#
# 200-bmc-secret
# 400-image-pull-secret
#
{% set offset = sno_cluster_count + (compact_cluster_count * 3) %}
# "{{ (((item - 1) * standard_cluster_node_count) + offset) }} until {{ ((item * standard_cluster_node_count) - 1 + offset) }}"
{% for vm in range(((item - 1) * standard_cluster_node_count) + offset, (item * standard_cluster_node_count) + offset, 1) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ groups['hv'][vm] }}-bmc-secret
  namespace: standard-{{ '%05d' | format(item) }}
type: Opaque
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: standard-{{ '%05d' | format(item) }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret }}
{% if siteconfig_resource_site_data %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  # annotations:
  #   argocd.argoproj.io/sync-wave: "2"
  name: site-standard-{{ '%05d' | format(item) }}
  namespace: {{ siteconfig_site_data_namespace }}
data:
  sitekey1: "sitevalue1"
  sitekey2: "sitevalue2"
  sitekey3: "sitevalue3"
  sitekey4: "sitevalue4"
{% endif %}
