# Create inventory playbook will generate this for you much easier
[all:vars]
allocation_node_count=10

[bastion]
example.com ansible_ssh_user=root bmc_address=mgmt-example.com

[bastion:vars]
bmc_user=quads
bmc_password=password

[controlplane]
# Unused

[controlplane:vars]
# Unused

[worker]
# Unused

[worker:vars]
# Unused

[remoteworker]
# Unused

[remoteworker:vars]
# Unused

[sno]
# Single Node OpenShift Clusters
sno-0 bmc_address=mgmt-sno-0.example.com boot_iso=sno-0.iso ip_address=10.0.0.1 vendor=Dell lab_mac=00:4e:01:3d:e6:9e network_mac=40:a6:b7:00:63:61
sno-1 bmc_address=mgmt-sno-1.example.com boot_iso=sno-1.iso ip_address=10.0.0.2 vendor=Dell lab_mac=00:4e:01:3d:e6:ab network_mac=40:a6:b7:00:53:81

[sno:vars]
bmc_user=quads
bmc_password=password
dns1=8.8.8.8
dns2=8.8.4.4

[hv]
# Unused

[hv:vars]
# Unused
