# Create inventory playbook will generate this for you much easier
[bastion]
example.com ansible_ssh_user=root

[controlplane]
# Unused

[controlplane:vars]
# Unused

[rwn]
# Unused

[rwn:vars]
# Unused

[sno]
# Single Node OpenShift Clusters
sno-0 bmc_address=mgmt-sno-0.example.com boot_iso=sno-0.iso ip_address=10.0.0.1
sno-1 bmc_address=mgmt-sno-1.example.com boot_iso=sno-1.iso ip_address=10.0.0.2

[sno:vars]
vendor=Dell
bmc_user=quads
bmc_password=password
dns=8.8.8.8
