# Create inventory playbook will generate this for you much easier
[all:vars]
allocation_node_count=6
supermicro_nodes=False

[bastion]
172.29.171.72 ansible_ssh_user=root bmc_address=172.29.170.72

[bastion:vars]
bmc_user=redhat
bmc_password=password

[controlplane]
control-plane-0 bmc_address=172.29.170.70 mac_address=40:a6:b7:83:98:b0 lab_mac=ec:2a:72:33:15:f0 ip=198.18.10.5 vendor=Dell install_disk=/dev/disk/by-path/pci-0000:01:00.0-nvme-1
control-plane-1 bmc_address=172.29.170.71 mac_address=40:a6:b7:83:98:c0 lab_mac=ec:2a:72:33:16:c8 ip=198.18.10.6 vendor=Dell install_disk=/dev/disk/by-path/pci-0000:3f:00.0-scsi-0:0:1:0
control-plane-2 bmc_address=172.29.170.193 mac_address=b4:83:51:07:45:28 lab_mac=ec:2a:72:51:0a:f4 ip=198.18.10.7 vendor=Dell install_disk=/dev/disk/by-path/pci-0000:4a:00.0-scsi-0:3:111:0

[controlplane:vars]
role=master
boot_iso=discovery.iso
bmc_user=redhat
bmc_password=password
lab_interface=eno8303
network_interface=eth0
network_prefix=24
gateway=198.18.10.1
dns1=198.18.10.1
dns2=172.29.202.10

[worker]
worker-0 bmc_address=172.29.170.219 mac_address=b4:96:91:f2:d3:90 lab_mac=ec:2a:72:33:17:2a ip=198.18.10.8 vendor=Dell install_disk=/dev/disk/by-path/pci-0000:01:00.0-nvme-1
worker-1 bmc_address=172.29.170.73 mac_address=00:62:0b:2f:2b:50 lab_mac=c8:4b:d6:8d:78:2e ip=198.18.10.9 vendor=Dell install_disk=/dev/disk/by-path/pci-0000:3e:00.0-nvme-1

[worker:vars]
role=worker
boot_iso=discovery.iso
bmc_user=redhat
bmc_password=password
lab_interface=eno8303
network_interface=eth0
network_prefix=24
gateway=198.18.10.1
dns1=198.18.10.1
dns2=172.29.202.10

[sno]
[sno:vars]
[hv]
[hv:vars]
[hv_vm]
[hv_vm:vars]
