# Create inventory playbook will generate this for you much easier
[all:vars]
allocation_node_count={{ ocpinventory.json.nodes | length }}

[bastion]
example.com ansible_ssh_user=root

[controlplane]
control-plane-0 bmc_address=mgmt-control-plane-0.example.com network_mac=40:a6:b7:2a:74:40 lab_mac=bc:97:e1:7a:d4:40 ip=198.18.10.5 vendor=Dell
control-plane-1 bmc_address=mgmt-control-plane-1.example.com network_mac=40:a6:b7:2a:98:90 lab_mac=bc:97:e1:78:c7:f0 ip=198.18.10.6 vendor=Dell
control-plane-2 bmc_address=mgmt-control-plane-2.example.com network_mac=40:a6:b7:2a:6b:f0 lab_mac=bc:97:e1:7a:ce:70 ip=198.18.10.7 vendor=Dell

[controlplane:vars]
role=master
boot_iso=discovery.iso
bmc_user=quads
bmc_password=password
lab_interface=eno1np0
network_interface=eno2np1
network_prefix=24
gateway=198.18.10.1
dns1=198.18.10.1
dns2=10.1.36.1

[worker]
worker-0 bmc_address=mgmt-worker-0.example.com network_mac=40:a6:b7:2a:75:f1 lab_mac=bc:97:e1:7a:ce:71 ip=198.18.10.8 vendor=Dell
worker-1 bmc_address=mgmt-worker-1.example.com network_mac=40:a6:b7:2b:bc:01 lab_mac=bc:97:e1:7a:ce:72 ip=198.18.10.9 vendor=Dell

[worker:vars]
role=worker
boot_iso=discovery.iso
bmc_user=quads
bmc_password=password
lab_interface=eno1np0
network_interface=eno2np1
network_prefix=30
gateway=198.18.10.1
dns1=198.18.10.1
dns2=10.1.36.1

[remoteworker]
# Unused

[remoteworker:vars]
# Unused

[sno]
# Unused

[sno:vars]
# Unused

[hv]
f16-h21-000-1029p.example.com bmc_address=mgmt-f16-h21-000-1029p.example.com vendor=Supermicro
f16-h22-000-1029p.example.com bmc_address=mgmt-f16-h22-000-1029p.example.com vendor=Supermicro

[hv:vars]
ansible_user=root
ansible_ssh_pass=password
bmc_user=quads
bmc_password=password
