apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |+
    prometheusK8s:
      nodeSelector:
        prometheus: "true"
      retention: {{ controlplane_prometheus_retention_period }}
      volumeClaimTemplate:
        metadata:
          name: localpvc
        spec:
          storageClassName: localstorage-sc
          resources:
            requests:
              storage: 50Gi
    alertmanagerMain:
      nodeSelector:
        prometheus: "true"
    prometheusOperator:
      nodeSelector:
        prometheus: "true"
    grafana:
      nodeSelector:
        prometheus: "true"
    k8sPrometheusAdapter:
      nodeSelector:
        prometheus: "true"
    kubeStateMetrics:
      nodeSelector:
        prometheus: "true"
    telemeterClient:
      nodeSelector:
        prometheus: "true"
    openshiftStateMetrics:
      nodeSelector:
        prometheus: "true"
