---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators-4-9
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators 4.9
  image: registry.redhat.io/redhat/redhat-operator-index:v4.9
  priority: -100
  publisher: Red Hat
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 10m0s
