{% if setup_openshift_gitops_ztp %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-gitops
{% endif %}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: openshift-gitops-operator
  namespace: openshift-operators
spec:
  name: openshift-gitops-operator
  sourceNamespace: openshift-marketplace
  channel: {{ gitops_channel }}
{% if setup_openshift_gitops_ztp %}
  installPlanApproval: Manual
  startingCSV: {{ gitops_starting_csv }}
{% else %}
  installPlanApproval: Automatic
{% endif %}
{% if use_disconnected_registry | default(false) %}
  source: {{ operator_index_name }}
{% else %}
  source: redhat-operators
{% endif %}
