---
# Dell tasks for booting an iso

- name: Dell - Discover iDRAC version
  containers.podman.podman_container:
    name: "{{ hostvars[item]['bmc_address'] }}-rac-version"
    network: host
    image: quay.io/dphillip/racadm-image
    state: started
    detach: false
    rm: true
    command:
      [
        "-v",
        "-r",
        "{{ hostvars[item]['bmc_address'] }}",
        "-u",
        "{{ hostvars[item]['bmc_user'] }}",
        "-p",
        "{{ hostvars[item]['bmc_password'] }}",
        "-i",
        "http://{{ http_store_host }}:{{ http_store_port }}/{{ hostvars[item]['boot_iso'] }}",
      ]
  register: drac_version

- name: Dell - Mount Live ISO, Boot into Live ISO (Dell 13G iDRAC8 and below)
  block:
    - name: Dell - Racadm container to mount and boot to Live ISO
      containers.podman.podman_container:
        name: "{{ hostvars[item]['bmc_address'] }}-rac-image"
        network: host
        image: quay.io/dphillip/racadm-image
        state: started
        rm: true
        command:
          [
            "-r",
            "{{ hostvars[item]['bmc_address'] }}",
            "-u",
            "{{ hostvars[item]['bmc_user'] }}",
            "-p",
            "{{ hostvars[item]['bmc_password'] }}",
            "-i",
            "http://{{ http_store_host }}:{{ http_store_port }}/{{ hostvars[item]['boot_iso'] }}"
          ]
  when: drac_version.stdout_lines[0] | int <= 13

- name: Dell - Mount Live ISO, Boot into Live ISO (Dell iDRAC9+ only)
  block:
    - name: DELL - Power ON
      community.general.redfish_command:
        category: Systems
        command: PowerOn
        baseuri: "{{ hostvars[item]['bmc_address'] }}"
        username: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"

    - name: Dell - Set OneTimeBoot VirtualCD
      uri:
        url: "https://{{ hostvars[item]['bmc_address'] }}/redfish/v1/Managers/iDRAC.Embedded.1/Actions/Oem/EID_674_Manager.ImportSystemConfiguration"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: POST
        headers:
          content-type: application/json
          Accept: application/json
        body: {"ShareParameters":{"Target":"ALL"},"ImportBuffer":"<SystemConfiguration><Component FQDD=\"iDRAC.Embedded.1\"><Attribute Name=\"ServerBoot.1#BootOnce\">Enabled</Attribute><Attribute Name=\"ServerBoot.1#FirstBootDevice\">VCD-DVD</Attribute></Component></SystemConfiguration>"}
        body_format: json
        validate_certs: no
        status_code: 202
        return_content: yes

    - name: DELL - Eject Virtual Media (if any)
      community.general.redfish_command:
        category: Manager
        command: VirtualMediaEject
        baseuri: "{{ hostvars[item]['bmc_address'] }}"
        username: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        virtual_media:
          image_url: "http://{{ http_store_host }}:{{ http_store_port }}/{{ hostvars[item]['boot_iso'] }}"
        resource_id: iDRAC.Embedded.1
      ignore_errors: yes

    - name: DELL - Insert Virtual Media
      community.general.redfish_command:
        category: Manager
        command: VirtualMediaInsert
        baseuri: "{{ hostvars[item]['bmc_address'] }}"
        username: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        virtual_media:
          image_url: "http://{{ http_store_host }}:{{ http_store_port }}/{{ hostvars[item]['boot_iso'] }}"
          media_types:
          - CD
          - DVD
        resource_id: iDRAC.Embedded.1

    - name: DELL - Restart system power gracefully
      community.general.redfish_command:
        category: Systems
        command: PowerGracefulRestart
        baseuri: "{{ hostvars[item]['bmc_address'] }}"
        username: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
  when: drac_version.stdout_lines[0] | int > 13
