---
# bastion-assisted-installer default vars

assisted_installer_tag: v2.38.2
assisted_installer_ui_tag: v2.38.2

assisted_image_service_image: quay.io/edge-infrastructure/assisted-image-service:{{ assisted_installer_tag }}
assisted_installer_image: quay.io/edge-infrastructure/assisted-installer:{{ assisted_installer_tag }}
assisted_installer_agent_image: quay.io/edge-infrastructure/assisted-installer-agent:{{ assisted_installer_tag }}
assisted_installer_controller_image: quay.io/edge-infrastructure/assisted-installer-controller:{{ assisted_installer_tag }}
assisted_installer_ui_image: quay.io/edge-infrastructure/assisted-installer-ui:{{ assisted_installer_ui_tag }}
assisted_service_image: quay.io/lhadad/assisted-service:modifyPreNetServiceV1
assisted_postgres_image: quay.io/edge-infrastructure/postgresql-12-centos7

# This will be your bastion machine (if you run setup-bastion playbook)
assisted_installer_host: "{{ groups['bastion'][0] }}"
assisted_installer_port: 8090
assisted_image_service_port: 8888

# Enables longer timeouts due to r750s longer reboot timing
enable_assisted_installer_long_timeouts: false
assisted_installer_long_timeout: 140m
