#!/bin/bash
firstboot_args='console=tty0 rd.neednet=1'

current_mac_address=`cat /sys/class/net/{{ rwn_network_interface }}/address`
data=`grep "${current_mac_address}" /root/networks.csv`

hostname=`echo "$data" | awk -F ',' '{print $1}'`
interface_vlan=`echo "$data" | awk -F ',' '{print $2}'`
interface=`echo "$data" | awk -F ',' '{print $3}'`
ip=`echo "$data" | awk -F ',' '{print $5}'`
gateway=`echo "$data" | awk -F ',' '{print $6}'`
mask=`echo "$data" | awk -F ',' '{print $7}'`

echo "Configure network:"
echo "Hostname: ${hostname}"
echo "Interface w/ vlan: ${interface_vlan}"
echo "Interface: ${interface}"
echo "IP: ${ip}"
echo "Gateway: ${gateway}"
echo "Mask: ${mask}"

KERNEL_ARGS="vlan=${interface_vlan}:${interface}  ip=${ip}::${gateway}:${mask}:${hostname}:${interface_vlan}:none:${ip}:{{lab_dns}}"

# Remove any existing VGs and PVs
for vg in $(vgs -o name --noheadings) ; do vgremove -y $vg ; done
for pv in $(pvs -o name --noheadings) ; do pvremove -y $pv ; done

# if [ -b /dev/vda ] && [ "$(lsblk /dev/vda)" != "" ] ; then
#   install_device='/dev/vda'
# else
#   # when prefered block device not detected
#   # deploy to the first block device detected
#   first_block_dev=$(lsblk -lpdn -o NAME | head -n1)
#   if [[ $first_block_dev ]]; then
#     install_device=$first_block_dev
#   else
#     echo "Can't find block device for installation"
#     #exit 1
#   fi
# fi
install_device='{{ rwn_install_device }}'

cmd="coreos-installer install --firstboot-args=\"${firstboot_args}\" --append-karg=\"${KERNEL_ARGS}\" --ignition=/root/config.ign ${install_device}"
bash -c "$cmd"
if [ "$?" == "0" ] ; then
  echo "Install Succeeded!"
  reboot
else
  echo "Install Failed!"
  exit 1
fi
