---
# The siteconfig resources
#
# 200-bmc-secret
# 400-image-pull-secret
#
{% set offset = sno_cluster_count + (compact_cluster_count * 3) %}
# "{{ (((item - 1) * standard_cluster_node_count) + offset) }} until {{ ((item * standard_cluster_node_count) - 1 + offset) }}"
{% for vm in range(((item - 1) * standard_cluster_node_count) + offset, (item * standard_cluster_node_count) + offset, 1) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ groups['hv_vm'][vm] }}-bmc-secret
  namespace: standard-{{ '%05d' | format(item) }}
type: Opaque
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: standard-{{ '%05d' | format(item) }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret }}
