---
# 100-namespace
# 200-bmc-secret
# 300-nmstate
# 400-image-pull-secret
# 500-agentclusterinstall
# 500-clusterdeployment
# 600-klusterletaddonconfig
# 700-managedcluster
# 800-infraenv
# 900-bmh
# 1000-configmap-workload-paritioning
#
apiVersion: v1
kind: Namespace
metadata:
  name: {{ inventory_hostname }}
  labels:
    name: {{ inventory_hostname }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ inventory_hostname }}-bmc-secret
  namespace: {{ inventory_hostname }}
type: Opaque
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ inventory_hostname }}
  namespace: {{ inventory_hostname }}
  labels:
    sno-cluster-{{ inventory_hostname }}: {{ inventory_hostname }}
spec:
  config:
    interfaces:
    - name: enp1s0
      type: ethernet
      state: up
      {{ "ipv6" if hostvars[inventory_hostname]['ip'] | ansible.netcommon.ipv6 else "ipv4" }}:
        enabled: true
        address:
        - ip: {{ hostvars[inventory_hostname]['ip'] }}
          prefix-length: {{ hostvars[inventory_hostname]['network_prefix'] }}
        dhcp: false
    dns-resolver:
      config:
        server:
        - {{ hostvars[inventory_hostname]['hv_ip'] }}
    routes:
      config:
      - destination: {{ "::/0" if hostvars[inventory_hostname]['ip'] | ansible.netcommon.ipv6 else "0.0.0.0/0" }}
        metric: 1
        next-hop-address: {{ hostvars[inventory_hostname]['gateway'] }}
        next-hop-interface: enp1s0
        table-id: 254
  interfaces:
  - name: "enp1s0"
    macAddress: {{ hostvars[inventory_hostname]['mac_address'] }}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: {{ inventory_hostname }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret }}
---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  annotations:
    agent-install.openshift.io/install-config-overrides: '{"networking":{"networkType":"OVNKubernetes"}}'
  name: {{ inventory_hostname }}
  namespace: {{ inventory_hostname }}
spec:
  clusterDeploymentRef:
    name: {{ inventory_hostname }}
  imageSetRef:
    name: {{ cluster_image_set }}
  networking:
    clusterNetwork:
      - cidr: {{ "fd01::/48" if hostvars[inventory_hostname]['ip'] | ansible.netcommon.ipv6 else "10.128.0.0/14" }}
        hostPrefix: {{ hostvars[inventory_hostname]['network_prefix'] }}
    machineNetwork:
      - cidr: {{ hostvars[inventory_hostname]['machine_network'] }}
    serviceNetwork:
      - {{ "fd02::/112" if hostvars[inventory_hostname]['ip'] | ansible.netcommon.ipv6 else "172.30.0.0/16" }}
  provisionRequirements:
    controlPlaneAgents: 1
    workerAgents: 0
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
{% if siteconfig_enable_cpuset %}
  manifestsConfigMapRef:
    name: "sno-workload-partitioning-configmap"
{% else %}
  # manifestsConfigMapRef:
  #   name: "sno-workload-partitioning-configmap"
{% endif %}
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ inventory_hostname }}
  namespace: {{ inventory_hostname }}
spec:
  baseDomain: {{ hostvars[inventory_hostname]['base_domain'] }}
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: {{ inventory_hostname }}
    version: v1beta1
  clusterName: {{ inventory_hostname }}
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          cluster-name: {{ inventory_hostname }}
  pullSecretRef:
    name: assisted-deployment-pull-secret
---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ inventory_hostname }}
  namespace: {{inventory_hostname }}
spec:
  clusterName: {{ inventory_hostname }}
  clusterNamespace: {{ inventory_hostname }}
  clusterLabels:
    cloud: auto-detect
    vendor: auto-detect
  applicationManager:
    enabled: false
  certPolicyController:
    enabled: false
  iamPolicyController:
    enabled: false
  policyController:
    enabled: true
  searchCollector:
    enabled: false
---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ inventory_hostname }}
  labels:
    name: {{ inventory_hostname }}
    vendor: OpenShift
    observability: disabled
    common: "true"
    group-du-sno: ""
    group-sno-du: "true"
spec:
  hubAcceptsClient: true
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ inventory_hostname }}
  namespace: {{ inventory_hostname }}
spec:
  clusterRef:
    name: {{ inventory_hostname }}
    namespace: {{ inventory_hostname }}
  sshAuthorizedKey: {{ lookup('file', ssh_public_key_file) }}
  agentLabelSelector:
    matchLabels:
      cluster-name: {{ inventory_hostname }}
  pullSecretRef:
    name: assisted-deployment-pull-secret
  nmStateConfigLabelSelector:
    matchLabels:
      sno-cluster-{{ inventory_hostname }}: {{ inventory_hostname }}
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ inventory_hostname }}
  namespace: {{ inventory_hostname }}
  annotations:
    inspect.metal3.io: disabled
    bmac.agent-install.openshift.io/hostname: "{{ inventory_hostname }}"
  labels:
    infraenvs.agent-install.openshift.io: "{{ inventory_hostname }}"
spec:
  bootMode: "UEFI"
  bmc:
    address: redfish-virtualmedia+http://[{{ hostvars[inventory_hostname]['hv_ip'] }}]:9000/redfish/v1/Systems/{{ hostvars[inventory_hostname]['domain_uuid'] }}
    disableCertificateVerification: true
    credentialsName: {{ inventory_hostname }}-bmc-secret
  bootMACAddress: {{ hostvars[inventory_hostname]['mac_address'] }}
  automatedCleaningMode: disabled
  online: false
{% if siteconfig_enable_cpuset %}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: sno-workload-partitioning-configmap
  namespace: {{ inventory_hostname }}
data:
  workload-partitioning-mc.yaml: |
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: master
      name: 02-master-workload-partitioning
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
          - contents:
              source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './01-workload-partitioning.j2') | b64encode }}
            mode: 420
            overwrite: true
            path: /etc/crio/crio.conf.d/01-workload-partitioning
            user:
              name: root
          - contents:
              source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './openshift-workload-pinning.json.j2') | b64encode }}
            mode: 420
            overwrite: true
            path: /etc/kubernetes/openshift-workload-pinning
            user:
              name: root
{% else %}
# ---
# kind: ConfigMap
# apiVersion: v1
# metadata:
#   name: sno-workload-partitioning-configmap
#   namespace: {{ inventory_hostname }}
# data:
#   workload-partitioning-mc.yaml: |
#     apiVersion: machineconfiguration.openshift.io/v1
#     kind: MachineConfig
#     metadata:
#       labels:
#         machineconfiguration.openshift.io/role: master
#       name: 02-master-workload-partitioning
#     spec:
#       config:
#         ignition:
#           version: 3.2.0
#         storage:
#           files:
#           - contents:
#               source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './01-workload-partitioning.j2') | b64encode }}
#             mode: 420
#             overwrite: true
#             path: /etc/crio/crio.conf.d/01-workload-partitioning
#             user:
#               name: root
#           - contents:
#               source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './openshift-workload-pinning.json.j2') | b64encode }}
#             mode: 420
#             overwrite: true
#             path: /etc/kubernetes/openshift-workload-pinning
#             user:
#               name: root
{% endif %}
