---
# create-ai-cluster manifest update

- name: Add manifests before cluster install - {{ item.file_name }}
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/clusters/{{ ai_cluster_id }}/manifests"
    method: POST
    body_format: json
    status_code: [201]
    body: {
        "folder": "manifests",
        "file_name": "{{ item.file_name }}",
        "content": "{{ lookup('template', item.template_name) | b64encode }}"
    }
  when:
   - item.enabled | default(true) | bool
