---
# create-ai-cluster tasks

- name: Obtain pull-secret for bastion registry
  slurp:
    src: "{{ registry_path }}/pull-secret-bastion.txt"
  register: slurped_pull_secret
  when: use_bastion_registry

- name: Set pull-secret for bastion registry
  set_fact:
    pull_secret: "{{ slurped_pull_secret.content | b64decode }}"
  when: use_bastion_registry

- name: Obtain bastion registry certificate
  slurp:
    src: "{{ registry_path }}/certs/domain.crt"
  register: mirror_cert
  when: use_bastion_registry

- name: Set empty static network configuration
  set_fact:
    static_network_config: []

- name: SNO Cluster Creation
  block:
  - name: SNO - Populate static network configuration with SNO node
    include_tasks: static_network_config.yml
    when: not sno_use_lab_dhcp
    loop: "{{ groups['sno'] }}"

  - name: SNO - Set cluster_name
    set_fact:
      cluster_name: "{{ groups['sno'][0] }}"

  - name: SNO - Create cluster
    uri:
      url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/clusters"
      method: POST
      body_format: json
      status_code: [201]
      return_content: true
      body: "{{ sno_cluster_body }}"
    register: create_cluster_return
    vars:
      sno_cluster_body: |
        {
          "name": "{{ cluster_name }}",
          "openshift_version": "{{ openshift_version }}",
          "high_availability_mode": "None",
          "base_dns_domain": "{{ base_dns_name }}",
        {% if lab in rh_labs %}
          "machine_networks": [
        {% for network in controlplane_network %}
            {"cidr": "{{ network }}"}{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
        {% endif %}
          "cluster_networks": [
        {% for i in range(cluster_network_cidr | length) %}
            {"cidr": "{{ cluster_network_cidr[i] }}", "host_prefix": {{ cluster_network_host_prefix[i] }} }{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
          "service_networks": [
        {% for cidr in service_network_cidr %}
            {"cidr": "{{ cidr }}"}{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
          "pull_secret": {{ pull_secret | tojson | tojson }},
          "ssh_public_key": "{{ lookup('file', ssh_public_key_file) }}",
        {% if setup_bastion_proxy | default(false) %}
          "http_proxy": "http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}",
          "https_proxy": "http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}",
          "no_proxy": "{{ proxy_no_proxy | default('localhost,127.0.0.1,.' + base_dns_name + ',' + groups['bastion'][0] + ',' + controlplane_network | join(',')) }}",
        {% endif %}
          "additional_ntp_source": "{{ controlplane_network[0] | ansible.utils.nthhost(1) if (lab in cloud_labs) or use_bastion_registry or setup_bastion_proxy | default(false) else labs[lab]['ntp_server'] }}"
        }

  - name: SNO - Add entries in /etc/hosts
    blockinfile:
      path: "/etc/hosts"
      backup: true
      block: |
        {% if (lab in rh_labs or lab == 'byol') %}
        {% set etc_hosts_ip = hostvars[cluster_name]['ip'] %}
        {% else %}
        {% set etc_hosts_ip = hostvars[cluster_name]['private_address'] %}
        {% endif %}
        {{ etc_hosts_ip }} api.{{ cluster_name }}.{{ base_dns_name }}
        {{ etc_hosts_ip }} api-int.{{ cluster_name }}.{{ base_dns_name }}
        {% for route in etc_hosts_ingress_routes %}
        {{ etc_hosts_ip }} {{ route }}.apps.{{ cluster_name }}.{{ base_dns_name }}
        {% endfor %}
      insertafter: "EOF"
      marker: "# {mark} {{ cluster_name }} OCP CLUSTER MANAGED BLOCK"

  - name: SNO - Set ai_cluster_id
    set_fact:
      ai_cluster_id: "{{ create_cluster_return.json.id }}"
  when: cluster_type == "sno"

- name: MNO / VMNO Cluster Creation
  block:
  - name: MNO / VMNO - Populate static network configuration with controlplane nodes
    include_tasks: static_network_config.yml
    loop: "{{ groups['controlplane'] }}"

  - name: MNO / VMNO - Populate static network configuration with worker nodes
    include_tasks: static_network_config.yml
    loop: "{{ groups['worker'] }}"

  - name: MNO / VMNO - Create cluster
    uri:
      url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/clusters"
      method: POST
      body_format: json
      status_code: [201]
      return_content: true
      body: "{{ mno_cluster_body }}"
    register: create_cluster_return
    vars:
      mno_cluster_body: |
        {
          "name": "{{ cluster_name }}",
          "openshift_version": "{{ openshift_version }}",
          "base_dns_domain": "{{ base_dns_name }}",
        {% if lab in rh_labs %}
          "machine_networks": [
        {% for network in controlplane_network %}
            {"cidr": "{{ network }}"}{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
        {% endif %}
          "cluster_networks": [
        {% for i in range(cluster_network_cidr | length) %}
            {"cidr": "{{ cluster_network_cidr[i] }}", "host_prefix": {{ cluster_network_host_prefix[i] }} }{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
          "service_networks": [
        {% for cidr in service_network_cidr %}
            {"cidr": "{{ cidr }}"}{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
          "api_vips": [
        {% for network in controlplane_network %}
            {"ip": "{{ network | ansible.utils.nthhost(3) }}"}{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
          "ingress_vips": [
        {% for network in controlplane_network %}
            {"ip": "{{ network | ansible.utils.nthhost(4) }}"}{{ "," if not loop.last else "" }}
        {% endfor %}
          ],
          "pull_secret": {{ pull_secret | tojson | tojson }},
          "ssh_public_key": "{{ lookup('file', ssh_public_key_file) }}",
          "vip_dhcp_allocation": {{ vip_dhcp_allocation }},
        {% if setup_bastion_proxy | default(false) %}
          "http_proxy": "http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}",
          "https_proxy": "http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}",
          "no_proxy": "{{ proxy_no_proxy | default('localhost,127.0.0.1,.' + base_dns_name + ',' + groups['bastion'][0] + ',' + controlplane_network | join(',')) }}",
        {% endif %}
          "additional_ntp_source": "{{ controlplane_network[0] | ansible.utils.nthhost(1) if (lab in cloud_labs) or use_bastion_registry or setup_bastion_proxy | default(false) else labs[lab]['ntp_server'] }}",
          "network_type": "OVNKubernetes"
        }

  - name: MNO / VMNO - Add entries in /etc/hosts
    blockinfile:
      path: "/etc/hosts"
      backup: true
      block: |
        {{ controlplane_network[0] | ansible.utils.nthhost(3) }} api.{{ cluster_name }}.{{ base_dns_name }}
        {{ controlplane_network[0] | ansible.utils.nthhost(3) }} api-int.{{ cluster_name }}.{{ base_dns_name }}
        {% for route in etc_hosts_ingress_routes %}
        {{ controlplane_network[0] | ansible.utils.nthhost(4) }} {{ route }}.apps.{{ cluster_name }}.{{ base_dns_name }}
        {% endfor %}
      insertafter: "EOF"
      marker: "# {mark} {{ cluster_name }} OCP CLUSTER MANAGED BLOCK"

  - name: MNO / VMNO - Set ai_cluster_id
    set_fact:
      ai_cluster_id: "{{ create_cluster_return.json.id }}"
  when: cluster_type in ["mno", "vmno"]

- name: Restart dnsmasq after /etc/hosts update
  systemd:
    state: restarted
    name: dnsmasq
  when:
  - controlplane_bastion_as_dns
  - not setup_coredns

- name: Patch cluster network settings
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/clusters/{{ ai_cluster_id }}"
    method: PATCH
    status_code: [201]
    return_content: true
    body_format: json
    body: "{{ patch_network_body }}"
  vars:
    patch_network_body: |
      {
      {% if controlplane_network | length > 1 %}
        "machine_networks": [
      {% for network in controlplane_network %}
          {"cidr": "{{ network }}"}{{ "," if not loop.last else "" }}
      {% endfor %}
        ],
      {% endif %}
        "cluster_networks":  [
      {% for i in range(cluster_network_cidr | length) %}
          {
            "cidr": "{{ cluster_network_cidr[i] }}",
            "cluster_id": "{{ ai_cluster_id }}",
            "host_prefix": {{ cluster_network_host_prefix[i] }}
          }{{ "," if not loop.last else "" }}
      {% endfor %}
        ],
        "service_networks":  [
      {% for cidr in service_network_cidr %}
          {
            "cidr": "{{ cidr }}",
            "cluster_id": "{{ ai_cluster_id }}"
          }{{ "," if not loop.last else "" }}
      {% endfor %}
        ]
      }

# - debug:
#     msg: "{{ static_network_config }}"

- name: Create a connected infra-env
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/infra-envs"
    method: POST
    body_format: json
    status_code: [201]
    return_content: true
    body: "{{ infra_env_body }}"
  vars:
    infra_env_body: |
      {
        "name": "{{ cluster_name }}",
        "additional_ntp_sources": "{{ controlplane_network[0] | ansible.utils.nthhost(1) if (lab in cloud_labs) or use_bastion_registry else labs[lab]['ntp_server'] }}",
        "ssh_authorized_key": "{{ lookup('file', ssh_public_key_file) }}",
        "pull_secret": {{ pull_secret | tojson | tojson }},
        "static_network_config": {{ static_network_config | tojson }},
        "image_type": "{{ image_type }}",
        "cluster_id": "{{ ai_cluster_id }}",
        "openshift_version": "{{ openshift_version }}"
      }
  register: create_infra_env_return

- name: Set ai_infraenv_id
  set_fact:
    ai_infraenv_id: "{{ create_infra_env_return.json.id }}"

- name: Patch infra-env for bastion registry with ignition config overrides
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/infra-envs/{{ ai_infraenv_id }}"
    method: PATCH
    body_format: json
    status_code: [201]
    return_content: true
    body: {
        "ignition_config_override": "{{ lookup('template', 'disconnected-discovery.ign.j2') | to_json }}",
    }
  when: use_bastion_registry | default(false)

- name: Patch infra-env for proxy configuration
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v2/infra-envs/{{ ai_infraenv_id }}"
    method: PATCH
    body_format: json
    status_code: [201]
    return_content: true
    body: {
        "proxy": {
          "http_proxy": "http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}",
          "https_proxy": "http://{{ proxy_host | default(groups['bastion'][0]) }}:{{ proxy_port | default(3128) }}",
          "no_proxy": "{{ proxy_no_proxy | default('localhost,127.0.0.1,.' + base_dns_name + ',' + groups['bastion'][0] + ',' + controlplane_network | join(',')) }}"
        }
    }
  when:
    - setup_bastion_proxy | default(false)
    - not use_bastion_registry | default(false)

# Disable lab interface manifests, skip if SNO has sno_use_lab_dhcp=true
- name: Include custom manifests to disable the lab interface (RH Labs & BYOL)
  include_tasks: 01_manifest_update.yml
  when:
  - lab in rh_labs or lab == "byol"
  - (cluster_type == "mno") or (cluster_type == "sno" and not sno_use_lab_dhcp)
  loop:
  - file_name: 50-controlplane-disable-lab-dhcp-interface.yaml
    template_name: 50-controlplane-disable-lab-dhcp-interface.yml.j2
  - file_name: 50-worker-disable-lab-dhcp-interface.yaml
    template_name: 50-worker-disable-lab-dhcp-interface.yml.j2

# MNO and SNO Custom manifests
- name: Include custom manifests
  include_tasks: 01_manifest_update.yml
  loop:
  - file_name: 06-kdump-master.yaml
    template_name: 06-kdump-master.yaml
    enabled: "{{ kdump_master_config }}"
  - file_name: 99-disconnected-dns-workaround.yml
    template_name: 99-disconnected-dns-workaround.yml
    enabled: "{{ use_bastion_registry }}"

# MNO Custom manifests only
- name: MNO / VMNO - Include custom manifests
  include_tasks: 01_manifest_update.yml
  when: cluster_type in ["mno", "vmno"]
  loop:
  - file_name: 50-controlplane-tune-kni-haproxy.yaml
    template_name: 50-controlplane-tune-kni-haproxy.yml.j2
    enabled: "{{ override_kni_infra_haproxy }}"
  - file_name: kubeletconfig-max-pods.yml
    template_name: kubeletconfig-max-pods.yml
    enabled: "{{ kubelet_config }}"

# SNO Custom manifests only
- name: SNO - Include custom manifests
  include_tasks: 01_manifest_update.yml
  when: cluster_type == "sno"
  loop:
  - file_name: kubeletconfig-max-pods.yml
    template_name: kubeletconfig-max-pods.yml
    enabled: "{{ kubelet_config }}"
  vars:
    kubelet_config_max_pods_label: "pools.operator.machineconfiguration.openshift.io/master: ''"

# SNO with DU profile manifests
- name: SNO - Include DU Profile manifests
  include_tasks: du_profile_manifest_tasks.yml
  when:
  - cluster_type == "sno"
  - du_profile
