---
# validate-vars tasks

- name: Validate lab
  fail:
    msg: "Invalid lab selected('{{ lab }}') Select from {{ rh_labs }} and {{ cloud_labs }}"
  when:
  - lab not in rh_labs
  - lab not in cloud_labs

- name: Check pull secret var is set
  fail:
    msg: "Pull secret appears unset"
  when: pull_secret is not defined

- name: Validate ocp_build
  fail:
    msg: "Invalid ocp_build selected('{{ ocp_build }}') Select from {{ ocp_build_types }}"
  when: ocp_build not in ocp_build_types

- name: Validate ocp_version
  fail:
    msg: "The version is undefined or empty. Use a value such as 'latest-4.15' or 'latest-4.16' or '4.16.1'."
  when: (ocp_version is undefined) or (ocp_version|length == 0)

- name: Fail if build is invalid
  fail:
    msg: "The openshift build defined is invalid, Use either 'ga' or 'dev' only"
  when: (ocp_build != 'ga') and (ocp_build != 'dev')

- name: Check for RHEL/Centos (Bastion Validation)
  fail:
    msg: "Expecting RHEL or Centos for a Bastion OS"
  when:
  - ansible_facts['distribution'] is defined
  - (ansible_facts['distribution']|lower != "redhat" and ansible_facts['distribution']|lower != "centos")

- name: Check for RHEL 8.6 (Bastion Validation)
  fail:
    msg: "Upgrade to RHEL 8.6 for podman host network support"
  when:
  - ansible_facts['distribution'] is defined
  - (ansible_facts['distribution']|lower == "redhat" and ansible_facts['distribution_version'] is version('8.6', '<'))

- name: Set worker_node_count if undefined or empty (bm/rwn)
  set_fact:
    worker_node_count: "{{ allocation_node_count - 4 }}"
  when: (cluster_type == "bm" or cluster_type == "rwn") and
        (worker_node_count is undefined or not worker_node_count | int) and
        ansible_play_name != "Create inventory from a lab cloud" and
       	ansible_play_name != "Create inventory from ibmcloud hardware"

- name: Set sno_node_count if undefined or empty
  set_fact:
    sno_node_count: "{{ (allocation_node_count - 1) | int   }}"
  when: (cluster_type == "sno")  and
        (sno_node_count is undefined or not sno_node_count | int) and
        ansible_play_name != "Create inventory from a lab cloud" and
        ansible_play_name != "Create inventory from ibmcloud hardware"

- name: Check if the required number of nodes exist for bm/rwn
  fail:
    msg: "Insufficient number of nodes in your allocation for bm/rwn"
  when: (allocation_node_count is defined and (cluster_type == "bm" or cluster_type == "rwn")) and (worker_node_count | int  > allocation_node_count - 4)

- name: Check if the required number of nodes exist for sno
  fail:
    msg: "Insufficient number of nodes in your allocation for number of SNOs to be deployed"
  when: (allocation_node_count is defined and cluster_type == "sno") and (sno_node_count | int   > allocation_node_count | int  - 1)

- name: Check if networktype is either "OVNKubernetes" or "OpenShiftSDN"
  fail:
    msg: "networktype can only be OVNKubernetes or OpenShiftSDN for BM/RWN clusters"
  when: (cluster_type == "bm" or cluster_type == "rwn") and (networktype not in bm_network_types)

- name: Validate Red Hat lab vars
  when: lab in rh_labs
  block:
  - name: Validate cluster_type
    fail:
      msg: "Invalid cluster_type selected - {{ cluster_type }} Select from {{ rh_lab_cluster_types }}"
    when: cluster_type not in rh_lab_cluster_types

- name: Validate ibmcloud vars
  when: lab in cloud_labs
  block:
  - name: Validate cluster_type
    fail:
      msg: "Invalid cluster_type selected - {{ cluster_type }} Select from {{ ibmcloud_cluster_types }}"
    when: cluster_type not in ibmcloud_cluster_types

- name: Check if PAO install is enabled when du_profile is enabled and OCP version is 4.9 or 4.10
  fail:
    msg: "set install_performance_addon_operator to true"
  when: (cluster_type == "sno") and (openshift_version == "4.9" or openshift_version == "4.10") and (not install_performance_addon_operator | default(false) | bool) and (du_profile | default(false) | bool)

- name: Check reserved_cpus var is set
  fail:
    msg: "reserved_cpus is unset"
  when: (cluster_type == "sno") and (du_profile | default(false) | bool) and reserved_cpus is undefined

- name: Check isolated_cpus var is set
  fail:
    msg: "isolated_cpus is unset"
  when: (cluster_type == "sno") and (du_profile | default(false) | bool) and isolated_cpus is undefined
