---
# ibmcloud-create-inventory default vars

bastion_hardware_id: ''

controlplane_hardware_ids: []

worker_hardware_ids: []

# Index of the ports for bond0. Bond0 is the intended private network bond name.
# Typically ports 0 & 2 are bonded to bond0 (Private network) and ports 1 & 3
# are bonded to bond1 (Public network)
bond0_port1: 0
bond0_port2: 2
