# Jetlag HV CoreDNS Configuration
. {
    errors
    # log
{% if controlplane_network[0] | ansible.utils.ipv4 %}
    forward . {{ labs[lab]['dns'][0] }}
{% endif %}
    cache 30
    reload

    import Corefile.hosts
}
