POSTGRESQL_DATABASE=installer
POSTGRESQL_PASSWORD=admin
POSTGRESQL_USER=admin
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=admin
DB_PASS=admin
DB_NAME=installer
SERVICE_BASE_URL=http://{{ groups['bastion'][0] }}:8090
DEPLOY_TARGET=onprem
STORAGE=filesystem
DUMMY_IGNITION=false

OPENSHIFT_VERSIONS={{ assisted_service_openshift_version }}
PUBLIC_CONTAINER_REGISTRIES=quay.io
NTP_DEFAULT_SERVER=
IPV6_SUPPORT=false
AUTH_TYPE=none

SKIP_CERT_VERIFICATION=true

SELF_VERSION={{ assisted_service_image }}
INSTALLER_IMAGE={{ assisted_installer_image }}
CONTROLLER_IMAGE={{ assisted_installer_controller_image }}
AGENT_DOCKER_IMAGE={{ assisted_installer_agent_image }}

#####################################################################################
##  Experimental: Single Node deployment
# Need to be uncommented for single node cluster
#INSTALLER_IMAGE=quay.io/eranco74/assisted-installer:single_node_onprem
#CONTROLLER_IMAGE=quay.io/eranco74/assisted-installer-controller:single_node_onprem
#####################################################################################
