POSTGRESQL_DATABASE=installer
POSTGRESQL_PASSWORD=admin
POSTGRESQL_USER=admin
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=admin
DB_PASS=admin
DB_NAME=installer
SERVICE_BASE_URL=http://{{ assisted_installer_host }}:{{ assisted_installer_port }}
ASSISTED_SERVICE_SCHEME=http
ASSISTED_SERVICE_HOST={{ assisted_installer_host }}:{{ assisted_installer_port }}
IMAGE_SERVICE_BASE_URL=http://{{ assisted_installer_host }}:{{ assisted_image_service_port }}
LISTEN_PORT={{ assisted_image_service_port }}
DEPLOY_TARGET=onprem
DEPLOY_TYPE="Podman"
STORAGE=filesystem
DUMMY_IGNITION=false

{% if use_bastion_registry | default(false) %}
OPENSHIFT_VERSIONS={{ slurped_ai_ocp_version_bastion.content | b64decode }}
OS_IMAGES={{ slurped_ai_os_images_bastion.content | b64decode }}
RELEASE_IMAGES={{ slurped_ai_release_images_bastion.content | b64decode }}
{% else %}
OPENSHIFT_VERSIONS={{ slurped_ai_ocp_version.content | b64decode }}
OS_IMAGES={{ slurped_ai_os_images.content | b64decode }}
RELEASE_IMAGES={{ slurped_ai_release_images.content | b64decode }}
{% endif %}
ENABLE_SINGLE_NODE_DNSMASQ=true
DISK_ENCRYPTION_SUPPORT=true
PUBLIC_CONTAINER_REGISTRIES=quay.io
NTP_DEFAULT_SERVER=
IPV6_SUPPORT=true
AUTH_TYPE=none
HW_VALIDATOR_REQUIREMENTS=[{"version":"default","master":{"cpu_cores":4,"ram_mib":16384,"disk_size_gb":120,"installation_disk_speed_threshold_ms":10,"network_latency_threshold_ms":100,"packet_loss_percentage":0},"worker":{"cpu_cores":2,"ram_mib":8192,"disk_size_gb":120,"installation_disk_speed_threshold_ms":10,"network_latency_threshold_ms":1000,"packet_loss_percentage":10},"sno":{"cpu_cores":8,"ram_mib":32768,"disk_size_gb":120,"installation_disk_speed_threshold_ms":10}}]

SKIP_CERT_VERIFICATION=true

SELF_VERSION={{ assisted_service_image }}
INSTALLER_IMAGE={{ assisted_installer_image }}
{% if use_bastion_registry | default(false) %}
CONTROLLER_IMAGE={{ assisted_installer_controller_image.split(":")[0] }}@{{ assisted_installer_controller_image_digest.stdout }}
{% else %}
CONTROLLER_IMAGE={{ assisted_installer_controller_image }}
{% endif %}
AGENT_DOCKER_IMAGE={{ assisted_installer_agent_image }}

# Additional finalizing env variables to permit r750s with slow reboot time to join cluster
{% if enable_assisted_installer_long_timeouts %}
FINALIZING_STAGE_WAITING_FOR_CLUSTER_OPERATORS_TIMEOUT={{ assisted_installer_long_timeout }}
FINALIZING_STAGE_ADDING_ROUTER_CA_TIMEOUT={{ assisted_installer_long_timeout }}
FINALIZING_STAGE_APPLYING_OLM_MANIFESTS_TIMEOUT={{ assisted_installer_long_timeout }}
FINALIZING_STAGE_WAITING_FOR_OLM_OPERATORS_CSV_INITIALIZATION_TIMEOUT={{ assisted_installer_long_timeout }}
FINALIZING_STAGE_WAITING_FOR_OLM_OPERATORS_CSV_TIMEOUT={{ assisted_installer_long_timeout }}
FINALIZING_STAGE_WAITING_FOR_OLM_OPERATOR_SETUP_JOBS_TIMEOUT={{ assisted_installer_long_timeout }}
FINALIZING_STAGE_DONE_TIMEOUT={{ assisted_installer_long_timeout }}
{% else %}
# Set enable_assisted_installer_long_timeouts to true to enable during setup-bastion.yml
# FINALIZING_STAGE_WAITING_FOR_CLUSTER_OPERATORS_TIMEOUT={{ assisted_installer_long_timeout }}
# FINALIZING_STAGE_ADDING_ROUTER_CA_TIMEOUT={{ assisted_installer_long_timeout }}
# FINALIZING_STAGE_APPLYING_OLM_MANIFESTS_TIMEOUT={{ assisted_installer_long_timeout }}
# FINALIZING_STAGE_WAITING_FOR_OLM_OPERATORS_CSV_INITIALIZATION_TIMEOUT={{ assisted_installer_long_timeout }}
# FINALIZING_STAGE_WAITING_FOR_OLM_OPERATORS_CSV_TIMEOUT={{ assisted_installer_long_timeout }}
# FINALIZING_STAGE_WAITING_FOR_OLM_OPERATOR_SETUP_JOBS_TIMEOUT={{ assisted_installer_long_timeout }}
# FINALIZING_STAGE_DONE_TIMEOUT={{ assisted_installer_long_timeout }}
{% endif %}
