---
# check-single-sno-host tasks

- name: Supermicro Fix hosts with incorrect boot order by unmounting virtual media
  include_role:
    name: install-cluster
    tasks_from: supermicro-unmount-virtual-media.yml
  loop: "{{ cluster_hosts.json| selectattr('status', 'eq', 'installing-pending-user-action') }}"
  when:
  - item.requested_hostname not in boot_order_fixed_hosts
  - hostvars[item.requested_hostname]['vendor'] == 'Supermicro'

- name: Lenovo Fix hosts with incorrect boot order by unmounting virtual media
  include_role:
    name: install-cluster
    tasks_from: lenovo-unmount-virtual-media.yml
  loop: "{{ cluster_hosts.json| selectattr('status', 'eq', 'installing-pending-user-action') }}"
  when:
  - item.requested_hostname not in boot_order_fixed_hosts
  - hostvars[item.requested_hostname]['vendor'] == 'lenovo'

- name: Append host with unmounted virtual media to boot order fixed hosts list
  set_fact:
    boot_order_fixed_hosts: "{{ boot_order_fixed_hosts + [item.requested_hostname] }}"
  when:
  - item.requested_hostname not in boot_order_fixed_hosts
  loop: "{{ cluster_hosts.json| selectattr('status', 'eq', 'installing-pending-user-action') }}"
