global:
  scrape_interval: {{ hv_metrics_scrape_interval }}
  evaluation_interval: {{ hv_metrics_evaluation_interval }}

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['{{ hv_metrics_server_address }}:9093']

rule_files:
  - 'alert_rules.yml'

scrape_configs:
{% if hv_metrics_enable_local_prometheus %}
  - job_name: 'bastion'
    static_configs:
      - targets: ['{{ hv_metrics_server_address }}:{{ hv_metrics_server_port }}']
{% endif %}

{% for client in groups['hv'] %}
{% set kurzname = hostvars[client].inventory_hostname.split('.')[0] %}
  - job_name: '{{ kurzname }}'
    static_configs:
      - targets: ['{{ hostvars[client].inventory_hostname }}:{{ hv_metrics_client_port }}']
{% endfor %}
