[Unit]
Description=Prometheus container
After=network.target

[Container]
ContainerName={{ hv_metrics_prometheus_container_name }}
Image={{ hv_metrics_prometheus_container_image }}

Pull=always

PublishPort=9090:{{ hv_metrics_server_port }}
Volume={{ hv_metrics_server_podman_log_dir}}:/prometheus
Volume={{ hv_metrics_server_podman_config_source }}:/etc/prometheus/prometheus.yaml:ro

Exec=--config.file=/etc/prometheus/prometheus.yaml --storage.tsdb.path=/prometheus --storage.tsdb.retention.time={{ hv_metrics_server_retention_time }}

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
