[bastion]
{{ bastion_machine }} ansible_ssh_user=root

[controlplane]
# Unused

[controlplane:vars]
# Unused

[worker]
# Unused

[worker:vars]
# Unused

[remoteworker]
# Unused

[remoteworker:vars]
# Unused

[sno]
# Single Node OpenShift Clusters
{% for sno in ocpinventory_sno_nodes %}
{{ sno.pm_addr.split('.')[0] | replace('mgmt-','') }} bmc_address={{ sno.pm_addr }} boot_iso={{ sno.pm_addr.split('.')[0] | replace('mgmt-','') }}.iso ip_address={{ (sno_foreman_data.results|selectattr('json.name', 'eq', sno.pm_addr | replace('mgmt-',''))|first).json.ip }}
{% endfor %}

[sno:vars]
vendor=Dell
bmc_user={{ bmc_user }}
bmc_password={{ bmc_password }}
dns={{ lab_dns }}
