[all:vars]
allocation_node_count={{ ocpinventory.json.nodes | length }}
supermicro_nodes={{ has_supermicro | bool }}

[bastion]
{{ bastion_machine }} ansible_ssh_user=root bmc_address=mgmt-{{ bastion_machine }}

[bastion:vars]
bmc_user={{ bmc_user }}
bmc_password={{ bmc_password }}

[controlplane]
# Unused

[controlplane:vars]
# Unused

[worker]
# Unused

[worker:vars]
# Unused

[remoteworker]
# Unused

[remoteworker:vars]
# Unused

[sno]
# Single Node OpenShift Clusters
{% for sno in ocpinventory_sno_nodes %}
{%- if use_disconnected_registry -%}
{%-   set ip_address=controlplane_network | ansible.utils.nthhost(loop.index0 + 5) -%}
{%- elif public_vlan | bool -%}
{%-   set ip_address=controlplane_pub_network_cidr | ansible.utils.nthhost(loop.index0 + 1) -%}
{%- else -%}
{%- set ip_address=(sno_foreman_data.results|selectattr('json.name', 'eq', sno.pm_addr | replace('mgmt-',''))|first).json.ip -%}
{%- endif -%}
{{ sno.pm_addr.split('.')[0] | replace('mgmt-','') }} bmc_address={{ sno.pm_addr }} boot_iso={{ sno.pm_addr.split('.')[0] | replace('mgmt-','') }}.iso ip_address={{ ip_address }} vendor={{ hw_vendor[(sno.pm_addr.split('.')[0]).split('-')[-1]] }} lab_mac={{ (sno_foreman_data.results|selectattr('json.name', 'eq', sno.pm_addr | replace('mgmt-',''))|first) | json_query(mac_query) | join(', ') }} network_mac={{ sno.mac[0] }}
{% endfor %}

[sno:vars]
bmc_user={{ bmc_user }}
bmc_password={{ bmc_password }}
{% if public_vlan or use_disconnected_registry %}
lab_interface={{ controlplane_lab_interface }}
network_interface={{ controlplane_network_interface }}
gateway={{ controlplane_network_gateway }}
{% endif %}
{% if public_vlan %}
network_prefix={{ controlplane_pub_network_cidr | ipaddr('prefix') }}
{% elif use_disconnected_registry %}
network_prefix={{ controlplane_network | ipaddr('prefix') }}
{% endif %}
{% if use_disconnected_registry %}
dns1={{ bastion_controlplane_ip }}
{% else %}
dns1={{ labs[lab]['dns'][0] }}
dns2={{ labs[lab]['dns'][1] | default('') }}
{% endif %}

[hv]
# Unused

[hv:vars]
# Unused

[hv_vm]
# Unused

[hv_vm:vars]
# Unused
