---
# Create and deploy SNO cluster(s) with the Assisted Installer on IBMcloud
#
# Example Usage:
#
# ansible-playbook -i ansible/inventory/ibmcloud.local ansible/ibmcloud-sno-deploy.yml
#

- name: Create SNO cluster(s) with the assisted-installer on ibmcloud
  hosts: bastion
  vars_files:
  - vars/lab.yml
  - vars/ibmcloud.yml
  vars:
    assisted_installer_host: "{{ hostvars[inventory_hostname]['private_address'] }}"
    http_store_host: "{{ hostvars[inventory_hostname]['private_address'] }}"
  roles:
  - validate-vars
  - ocp-release
  - ibmcloud-sno-create-ai-cluster
  - role: generate-discovery-iso
    vars:
      iso_name: "{{ groups['sno'][1] }}"
  - role: boot-iso
    vars:
      inventory_group: sno
      index: "1"
  - sno-wait-hosts-discovered
  - install-cluster
  - sno-post-cluster-install
