---
# Create and deploy a cluster with the Assisted Installer and join remote worker
# nodes using a LiveCD and ignition configuration
#
# Example Usage:
#
# ansible-playbook -i ansible/inventory/cloud42.local ansible/rwn-deploy.yml
#

- name: Create 3 node cluster with assisted installer and join remote worker nodes
  hosts: bastion
  vars_files:
  - vars/lab.yml
  - vars/all.yml
  roles:
  - validate-vars
  - create-ai-cluster
  - generate-discovery-iso
  - role: boot-iso
    vars:
      inventory_group: controlplane
      index: 3
  - wait-hosts-discovered
  - install-cluster
  - rwn-post-cluster-install
  - generate-livecd
  - role: boot-iso
    vars:
      inventory_group: remoteworker
      index: "{{ worker_node_count }}"
  - wait-for-rwn-to-join
