---
# Setup bastion machine to deploy an OCP cluster
#
# Example Usage:
#
# ansible-playbook -i ansible/inventory/cloud42.local ansible/setup-bastion.yml
#

- name: Setup bastion machine
  hosts: bastion
  vars_files:
  - vars/lab.yml
  - vars/all.yml
  roles:
  - validate-vars
  - ocp-release
  - bastion-install
  - bastion-network
  - role: bastion-dnsmasq
    when: not setup_coredns
  - role: bastion-coredns
    when: setup_coredns
  - bastion-http
  - bastion-ocp-version
  - role: bastion-registry
    when: setup_bastion_registry
  - role: sync-operator-index
    when:
    - setup_bastion_registry
    - sync_operator_index | default(false)
  - role: sync-ocp-release
    when:
    - setup_bastion_registry
    - sync_ocp_release | default(false)
  - role: bastion-proxy
    when: setup_bastion_proxy | default(false)
  - bastion-assisted-installer
  - role: bastion-gogs
    when: setup_bastion_gogs
  - role: bastion-disconnected-haproxy
    when: use_bastion_registry or setup_bastion_proxy | default(false)
