---
# Create and deploy SNO cluster(s) with the Assisted Installer
#
# Example Usage:
#
# ansible-playbook -i ansible/inventory/cloud10.local ansible/sno-deploy.yml
#

- name: Create SNO cluster(s)
  hosts: bastion
  vars_files:
  - vars/all.yml
  - vars/lab.yml
  roles:
  - validate-vars
  - sno-create-ai-cluster
  - sno-generate-discovery-iso
  - role: boot-iso
    vars:
      inventory_group: sno
  - sno-wait-hosts-discovered
  - sno-install-cluster
  - sno-post-cluster-install
