---
# Sync an specific operator index to the bastion registry.
#
# Example Usage:
#
# ansible-playbook -i ansible/inventory/cloud03.local ansible/sync-operator-index.yml
#

- name: Sync operator index and container images into bastion registry
  hosts: bastion
  gather_facts: false
  vars_files:
  - vars/all.yml
  - vars/sync-operator-index.yml
  roles:
  - sync-operator-index
