---
# 00-namespace
# 02-image-pull-secret
# 03-clusterdeployment
# 04-agentclusterinstall
# 05-klusterletaddonconfig
# 06-managedcluster
# 07-infraenv
# 01-bmc-secret
# 08-bmh
# 09-nmstate
#
apiVersion: v1
kind: Namespace
metadata:
  name: compact-{{ '%05d' | format(item) }}
  labels:
    name: compact-{{ '%05d' | format(item) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: compact-{{ '%05d' | format(item) }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ pull_secret }}
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: compact-{{ '%05d' | format(item) }}
  namespace: compact-{{ '%05d' | format(item) }}
spec:
  baseDomain: {{ hostvars[groups['hv_vm'][0]]['base_domain'] }}
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: compact-{{ '%05d' | format(item) }}
    version: v1beta1
  clusterName: compact-{{ '%05d' | format(item) }}
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          cluster-name: compact-{{ '%05d' | format(item) }}
  pullSecretRef:
    name: assisted-deployment-pull-secret
---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  annotations:
    agent-install.openshift.io/install-config-overrides: '{"networking":{"networkType":"OVNKubernetes"}}'
  name: compact-{{ '%05d' | format(item) }}
  namespace: compact-{{ '%05d' | format(item) }}
spec:
  apiVIP: {{ hostvars[groups['hv_vm'][0]]['machine_network'] | ansible.utils.nthhost((item + compact_cluster_offset) * -2) }}
  clusterDeploymentRef:
    name: compact-{{ '%05d' | format(item) }}
  imageSetRef:
    name: {{ cluster_image_set }}
  ingressVIP: {{ hostvars[groups['hv_vm'][0]]['machine_network'] | ansible.utils.nthhost( ((item + compact_cluster_offset) * -2) - 1) }}
  networking:
    clusterNetwork:
      - cidr: {{ "fd01::/48" if hostvars[groups['hv_vm'][0]]['ip'] | ansible.utils.ipv6 else "10.128.0.0/14" }}
        hostPrefix: {{ compact_cluster_network_host_prefix }}
    machineNetwork:
      - cidr: {{ hostvars[groups['hv_vm'][0]]['machine_network'] }}
    serviceNetwork:
      - {{ "fd02::/112" if hostvars[groups['hv_vm'][0]]['ip'] | ansible.utils.ipv6 else "172.30.0.0/16" }}
  provisionRequirements:
    controlPlaneAgents: 3
    workerAgents: {{ compact_cluster_node_count - 3 }}
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
  compute:
  - hyperthreading: Enabled
    name: worker
  controlPlane:
    hyperthreading: Enabled
    name: master
{% if hv_vm_manifest_acm_cr %}
---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: compact-{{ '%05d' | format(item) }}
  namespace: compact-{{ '%05d' | format(item) }}
spec:
  clusterName: compact-{{ '%05d' | format(item) }}
  clusterNamespace: compact-{{ '%05d' | format(item) }}
  clusterLabels:
    cloud: auto-detect
    vendor: auto-detect
  applicationManager:
    enabled: false
  certPolicyController:
    enabled: false
  iamPolicyController:
    enabled: false
  policyController:
    enabled: true
  searchCollector:
    enabled: false
---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: compact-{{ '%05d' | format(item) }}
  labels:
    common: 'true'
    common-mno: 'true'
    group-du-3node: ''
    name: compact-{{ '%05d' | format(item) }}
    observability: disabled
    sites: compact-{{ '%05d' | format(item) }}
    vendor: OpenShift
spec:
  hubAcceptsClient: true
{% endif %}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: compact-{{ '%05d' | format(item) }}
  namespace: compact-{{ '%05d' | format(item) }}
spec:
  additionalNTPSources:
  - {{ hostvars[groups['hv_vm'][0]]['gateway'] }}
  clusterRef:
    name: compact-{{ '%05d' | format(item) }}
    namespace: compact-{{ '%05d' | format(item) }}
  sshAuthorizedKey: {{ lookup('file', ssh_public_key_file) }}
  agentLabelSelector:
    matchLabels:
      cluster-name: compact-{{ '%05d' | format(item) }}
  pullSecretRef:
    name: assisted-deployment-pull-secret
{% if setup_hv_vm_dhcp %}
  # nmStateConfigLabelSelector:
  #   matchLabels:
  #     cluster: compact-{{ '%05d' | format(item) }}
{% else %}
  nmStateConfigLabelSelector:
    matchLabels:
      cluster: compact-{{ '%05d' | format(item) }}
{% endif %}
# "{{ ((item - 1) * compact_cluster_node_count) }} until {{ (item * compact_cluster_node_count) - 1 }}"
{% for vm in range(((item - 1) * compact_cluster_node_count), (item * compact_cluster_node_count), 1) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ groups['hv_vm'][vm] }}-bmc-secret
  namespace: compact-{{ '%05d' | format(item) }}
type: Opaque
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ groups['hv_vm'][vm] }}
  namespace: compact-{{ '%05d' | format(item) }}
  annotations:
    inspect.metal3.io: disabled
    bmac.agent-install.openshift.io/hostname: "{{ groups['hv_vm'][vm] }}"
  labels:
    infraenvs.agent-install.openshift.io: "compact-{{ '%05d' | format(item) }}"
spec:
  bootMode: "UEFI"
  bmc:
{% if hostvars[groups['hv_vm'][vm]]['hv_ip'] | ansible.utils.ipv6 %}
    address: redfish-virtualmedia+http://[{{ hostvars[groups['hv_vm'][vm]]['hv_ip'] }}]:9000/redfish/v1/Systems/{{ hostvars[groups['hv_vm'][vm]]['domain_uuid'] }}
{% else %}
    address: redfish-virtualmedia+http://{{ hostvars[groups['hv_vm'][vm]]['hv_ip'] }}:9000/redfish/v1/Systems/{{ hostvars[groups['hv_vm'][vm]]['domain_uuid'] }}
{% endif %}
    disableCertificateVerification: true
    credentialsName: {{ groups['hv_vm'][vm] }}-bmc-secret
  bootMACAddress: {{ hostvars[groups['hv_vm'][vm]]['mac_address'] }}
  automatedCleaningMode: disabled
  online: true
{% if setup_hv_vm_dhcp %}
# ---
# apiVersion: agent-install.openshift.io/v1beta1
# kind: NMStateConfig
# metadata:
#   name: {{ groups['hv_vm'][vm] }}
#   namespace: compact-{{ '%05d' | format(item) }}
#   labels:
#     cluster: compact-{{ '%05d' | format(item) }}
# spec:
#   config:
#     interfaces:
#     - name: {{ vm_nic_interface }}
#       type: ethernet
#       state: up
#       {{ "ipv6" if hostvars[groups['hv_vm'][vm]]['ip'] | ansible.utils.ipv6 else "ipv4" }}:
#         enabled: true
#         address:
#         - ip: {{ hostvars[groups['hv_vm'][vm]]['ip'] }}
#           prefix-length: {{ hostvars[groups['hv_vm'][vm]]['network_prefix'] }}
#         dhcp: false
#     dns-resolver:
#       config:
#         server:
#         - {{ hostvars[groups['hv_vm'][vm]]['hv_ip'] }}
#     routes:
#       config:
#       - destination: {{ "::/0" if hostvars[groups['hv_vm'][vm]]['ip'] | ansible.utils.ipv6 else "0.0.0.0/0" }}
#         metric: 1
#         next-hop-address: {{ hostvars[groups['hv_vm'][vm]]['gateway'] }}
#         next-hop-interface: {{ vm_nic_interface }}
#         table-id: 254
#   interfaces:
#   - name: {{ vm_nic_interface }}
#     macAddress: {{ hostvars[groups['hv_vm'][vm]]['mac_address'] }}
{% else %}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: {{ groups['hv_vm'][vm] }}
  namespace: compact-{{ '%05d' | format(item) }}
  labels:
    cluster: compact-{{ '%05d' | format(item) }}
spec:
  config:
    interfaces:
    - name: {{ vm_nic_interface }}
      type: ethernet
      state: up
      {{ "ipv6" if hostvars[groups['hv_vm'][vm]]['ip'] | ansible.utils.ipv6 else "ipv4" }}:
        enabled: true
        autoconf: false
        dhcp: false
        address:
        - ip: {{ hostvars[groups['hv_vm'][vm]]['ip'] }}
          prefix-length: {{ hostvars[groups['hv_vm'][vm]]['network_prefix'] }}
        dhcp: false
    dns-resolver:
      config:
        server:
        - {{ hostvars[groups['hv_vm'][vm]]['hv_ip'] }}
    routes:
      config:
      - destination: {{ "::/0" if hostvars[groups['hv_vm'][vm]]['ip'] | ansible.utils.ipv6 else "0.0.0.0/0" }}
        metric: 1
        next-hop-address: {{ hostvars[groups['hv_vm'][vm]]['gateway'] }}
        next-hop-interface: {{ vm_nic_interface }}
        table-id: 254
  interfaces:
  - name: {{ vm_nic_interface }}
    macAddress: {{ hostvars[groups['hv_vm'][vm]]['mac_address'] }}
{% endif %}
{% endfor %}
