apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: 50-master-dns
  labels:
    machineconfiguration.openshift.io/role: master
spec:
  config:
    ignition:
      version: 3.1.0
    storage:
      files:
        - contents:
            source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './sno-coredns.yaml.j2') | b64encode }}
            verification: {}
          overwrite: true
          mode: 420
          path: /etc/kubernetes/manifests/sno-coredns.yaml
        - contents:
            source: data:text/plain;charset=utf-8;base64,{{ lookup('template', './sno-Corefile.j2') | b64encode }}
            verification: {}
          overwrite: true
          mode: 420
          path: /etc/coredns/sno-Corefile
