interfaces:
- name: {{ hostvars[groups['sno'][0]]['network_interface'] }}
  type: ethernet
  state: up
  mtu: {{ 9000 if jumbo_mtu is defined and jumbo_mtu else 1500 }}
{% if bastion_controlplane_ip | ansible.utils.ipv4 %}
  ipv4:
{% else %}
  ipv6:
{% endif %}
    address:
    - ip: {{ hostvars[groups['sno'][0]]['ip'] }}
      prefix-length: {{ hostvars[groups['sno'][0]]['network_prefix'] }}
    auto-dns: false
    enabled: true
- name: {{ hostvars[groups['sno'][0]]['lab_interface']}}
  type: ethernet
  state: up
  ipv4:
    auto-dns: false
    enabled: false
dns-resolver:
  config:
    server:
    - {{ hostvars[groups['sno'][0]]['dns1'] }}
{% if 'dns2' in hostvars[groups['sno'][0]] %}
    - {{ hostvars[groups['sno'][0]]['dns2'] }}
{% endif %}
routes:
  config:
{% if bastion_controlplane_ip | ansible.utils.ipv4 %}
  - destination: 0.0.0.0/0
{% else %}
  - destination: ::/0
{% endif %}
    next-hop-address: {{ hostvars[groups['sno'][0]]['gateway'] }}
    next-hop-interface: {{ hostvars[groups['sno'][0]]['network_interface'] }}
