---
{% if siteconfig_map_site_data %}
apiVersion: ran.openshift.io/v2
{% else %}
apiVersion: ran.openshift.io/v1
{% endif %}
kind: SiteConfig
metadata:
  name: {{ inventory_hostname }}
  namespace: {{ inventory_hostname }}
spec:
  baseDomain: {{ hostvars[inventory_hostname]['base_domain'] }}
  pullSecretRef:
    name: "assisted-deployment-pull-secret"
  clusterImageSetNameRef: {{ cluster_image_set }}
  sshPublicKey: {{ lookup('file', ssh_public_key_file) }}
  clusters:
  - clusterName: {{ inventory_hostname }}
    networkType: "OVNKubernetes"
    extraManifestPath: extra-manifests
{% if siteconfig_exclude_sync_time_once %}
    extraManifests:
      filter:
        inclusionDefault: include
        exclude:
        - 99-sync-time-once-master.yaml
        - 99-sync-time-once-worker.yaml
{% endif %}
{% if siteconfig_sno_du_profile == "4.12" %}
    # 4.12
    installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\" ] }}"
    # 4.13, 4.14
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\", \"NodeTuning\" ] }}"
    # 4.15
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"NodeTuning\" ] }}"
    # 4.16, 4.17, 4.18, 4.19
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"Ingress\", \"NodeTuning\" ] }}"
{% elif siteconfig_sno_du_profile in ["4.13", "4.14"] %}
    # 4.12
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\" ] }}"
    # 4.13, 4.14
    installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\", \"NodeTuning\" ] }}"
    # 4.15
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"NodeTuning\" ] }}"
    # 4.16, 4.17, 4.18, 4.19
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"Ingress\", \"NodeTuning\" ] }}"
{% elif siteconfig_sno_du_profile == "4.15" %}
    # 4.12
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\" ] }}"
    # 4.13, 4.14
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\", \"NodeTuning\" ] }}"
    # 4.15
    installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"NodeTuning\" ] }}"
    # 4.16, 4.17, 4.18, 4.19
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"Ingress\", \"NodeTuning\" ] }}"
{% elif siteconfig_sno_du_profile in ["4.16", "4.17", "4.18", "4.19"] %}
    # 4.12
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\" ] }}"
    # 4.13, 4.14
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"marketplace\", \"NodeTuning\" ] }}"
    # 4.15
    # installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"NodeTuning\" ] }}"
    # 4.16, 4.17, 4.18, 4.19
    installConfigOverrides:  "{\"capabilities\":{\"baselineCapabilitySet\": \"None\", \"additionalEnabledCapabilities\": [ \"OperatorLifecycleManager\", \"Ingress\", \"NodeTuning\" ] }}"
{% else %}
{% if siteconfig_fips %}
    installConfigOverrides: '{ "fips": true }'
{% endif %}
{% endif %}
    clusterLabels:
      common: 'true'
{% if siteconfig_sno_du_profile in ["4.12", "4.13", "4.14", "4.15", "4.16", "4.17", "4.18", "4.19"] %}
      du-profile: "{{ siteconfig_sno_du_profile }}"
{% endif %}
      group-du-sno: ''
      name: {{ inventory_hostname }}
{% if siteconfig_observability %}
      observability: enabled
{% else %}
      observability: disabled
{% endif %}
      sites: {{ inventory_hostname }}
      vendor: OpenShift
    clusterNetwork:
    - cidr: {{ "fd01::/48" if hostvars[inventory_hostname]['ip'] | ansible.utils.ipv6 else "10.128.0.0/14" }}
      hostPrefix: {{ sno_cluster_network_host_prefix }}
    machineNetwork:
    - cidr: {{ hostvars[inventory_hostname]['machine_network'] }}
    serviceNetwork:
    - {{ "fd02::/112" if hostvars[inventory_hostname]['ip'] | ansible.utils.ipv6 else "172.30.0.0/16" }}
    additionalNTPSources:
    - {{ hostvars[inventory_hostname]['hv_ip'] }}
    crTemplates:
{% if siteconfig_baremetalhost_override_converged_flow %}
      BareMetalHost: "BareMetalHostOverride.yaml"
{% endif %}
      KlusterletAddonConfig: "KlusterletAddonConfigOverride.yaml"
{% if siteconfig_map_site_data %}
    siteConfigMap:
      name: site-{{ inventory_hostname }}
      namespace: {{ siteconfig_site_data_namespace }}
      data:
        sitekey1: "sitevalue1"
        sitekey2: "sitevalue2"
        sitekey3: "sitevalue3"
        sitekey4: "sitevalue4"
{% endif %}
    nodes:
    - hostName: "{{ inventory_hostname }}"
{% if siteconfig_ironic_inspect %}
      ironicInspect: enabled
{% else %}
      ironicInspect: disabled
{% endif %}
{% if hostvars[inventory_hostname]['ip'] | ansible.utils.ipv4 %}
      bmcAddress: redfish-virtualmedia+http://{{ hostvars[inventory_hostname]['hv_ip'] }}:9000/redfish/v1/Systems/{{ hostvars[inventory_hostname]['domain_uuid'] }}
{% else %}
      bmcAddress: redfish-virtualmedia+http://[{{ hostvars[inventory_hostname]['hv_ip'] }}]:9000/redfish/v1/Systems/{{ hostvars[inventory_hostname]['domain_uuid'] }}
{% endif %}
      bmcCredentialsName:
        name: {{ inventory_hostname }}-bmc-secret
      bootMACAddress: {{ hostvars[inventory_hostname]['mac_address'] }}
      bootMode: "UEFI"
      # rootDeviceHints:
      #   hctl: '0:0:0:0'
{% if siteconfig_enable_cpuset %}
      cpuset: "{{ siteconfig_cpuset }}"
{% else %}
      # cpuset: "{{ siteconfig_cpuset }}"
{% endif %}
      nodeNetwork:
        interfaces:
        - name: {{ vm_nic_interface }}
          macAddress: {{ hostvars[inventory_hostname]['mac_address'] }}
        config:
          interfaces:
          - name: {{ vm_nic_interface }}
            type: ethernet
            state: up
{% if hostvars[inventory_hostname]['ip'] | ansible.utils.ipv4 %}
            ipv4:
              enabled: true
              autoconf: false
              dhcp: false
              address:
              - ip: "{{ hostvars[inventory_hostname]['ip'] }}"
                prefix-length: {{ hostvars[inventory_hostname]['network_prefix'] }}
            ipv6:
              enabled: false
{% else %}
            ipv4:
              enabled: false
            ipv6:
              enabled: true
              autoconf: false
              dhcp: false
              address:
              - ip: "{{ hostvars[inventory_hostname]['ip'] }}"
                prefix-length: {{ hostvars[inventory_hostname]['network_prefix'] }}
{% endif %}
          dns-resolver:
            config:
              server:
              - {{ hostvars[inventory_hostname]['hv_ip'] }}
          routes:
            config:
            - destination: {{ "::/0" if hostvars[inventory_hostname]['ip'] | ansible.utils.ipv6 else "0.0.0.0/0" }}
              next-hop-interface: {{ vm_nic_interface }}
              next-hop-address: {{ hostvars[inventory_hostname]['gateway'] }}
              table-id: 254
