---
# sno-create-ai-cluster tasks

- name: Obtain pull-secret for disconnected
  slurp:
    src: "{{ registry_path }}/pull-secret-disconnected.txt"
  register: slurped_pull_secret
  when: use_disconnected_registry

- name: Set pull-secret for disconnected
  set_fact:
    pull_secret: "{{ slurped_pull_secret.content | b64decode }}"
  when: use_disconnected_registry

- name: Create SNO cluster
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v1/clusters"
    method: POST
    body_format: json
    status_code: [201]
    return_content: true
    body: {"name": "{{ hostvars[item].inventory_hostname }}", "openshift_version": "{{ openshift_version }}", "high_availability_mode": "None", "base_dns_domain": "{{\
        \ base_dns_name }}", "cluster_network_cidr": "{{ cluster_network_cidr }}", "cluster_network_host_prefix": "{{ cluster_network_host_prefix }}", "service_network_cidr": "{{\
        \ service_network_cidr }}", "pull_secret": "{{ pull_secret | to_json }}", "ssh_public_key": "{{ lookup('file', ssh_public_key_file) }}", "additional_ntp_source": "{{\
        \ bastion_controlplane_ip if use_disconnected_registry else labs[lab]['ntp_server'] }}"}
  loop: "{{ groups['sno'][:sno_node_count|int] }}"
  register: create_cluster_return

- name: Populate cluster ids
  when: cluster_type == "sno"
  set_fact:
    ai_cluster_ids: "{{ ai_cluster_ids|default({}) | combine( {item.item: {'cluster_name': item.item, 'cluster_id': item.json.id} } ) }}"
  loop: "{{ create_cluster_return.results }}"

- name: set machine network cidr for public vlan
  set_fact:
    machine_network_cidr: "{{ controlplane_pub_network_cidr }}"
  when:
  - public_vlan | bool

- name: set machine network cidr when using disconnected registry
  set_fact:
    machine_network_cidr: "{{ controlplane_network | ipaddr('network/prefix') }}"
  when:
  - use_disconnected_registry

- block:
  - name: Set machine network
    set_fact:
      machine_network: "{{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.netmask }}"

  - name: Set machine network CIDR
    set_fact:
      machine_network_cidr: "{{ machine_network | ipaddr('network/prefix') }}"
  when:
  - ( machine_network_cidr is not defined ) or ( not machine_network_cidr )

- name: Update machine CIDR
  uri:
    url: "http://{{ assisted_installer_host }}:{{ assisted_installer_port }}/api/assisted-install/v1/clusters/{{ ai_cluster_ids[item].cluster_id }}"
    method: PATCH
    body_format: json
    status_code: [201]
    return_content: true
    body: {"machine_network_cidr": "{{ machine_network_cidr }}"}
  with_items: "{{ ai_cluster_ids }}"

- name: Add entries in /etc/hosts
  blockinfile:
    path: "/etc/hosts"
    backup: true
    block: |
      {{ hostvars[item].ip_address }} api.{{ hostvars[item].inventory_hostname }}.{{ base_dns_name }}
      {{ hostvars[item].ip_address }} api-int.{{ hostvars[item].inventory_hostname }}.{{ base_dns_name }}
      {% for route in etc_hosts_ingress_routes %}
      {{ hostvars[item].ip_address }} {{ route }}.apps.{{ hostvars[item].inventory_hostname }}.{{ base_dns_name }}
      {% endfor %}
      {% if public_vlan %}
      {{ hostvars[item].ip_address }} {{ hostvars[item].inventory_hostname }} # SNO node
      {%- endif %}
    insertafter: "EOF"
    marker: "# {mark} {{ hostvars[item].inventory_hostname }} OCP CLUSTER MANAGED BLOCK"
  loop: "{{ groups['sno'][:sno_node_count|int] }}"

- name: Restart dnsmasq after /etc/hosts update
  systemd:
    state: restarted
    name: dnsmasq
  when: controlplane_bastion_as_dns

- name: Include custom manifests
  include_tasks: 01_manifest_task.yml
  with_items: "{{ ai_cluster_ids }}"
  loop_control:
    loop_var: outer_item
