[Unit]
Description=Sushy Libvirt emulator
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sushy-emulator --config /etc/sushy-emulator/sushy-emulator.conf
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
