apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |+
{% if migrate_monitoring %}
    prometheusOperator:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    prometheusK8s:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    alertmanagerMain:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    kubeStateMetrics:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    openshiftStateMetrics:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    telemeterClient:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    k8sPrometheusAdapter:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    thanosQuerier:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
{% else %}
    prometheusOperator:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    prometheusK8s:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
      retention: {{ prometheus_retention_period }}
      volumeClaimTemplate:
        metadata:
          name: localpvc
        spec:
          storageClassName: localstorage-sc
          resources:
            requests:
              storage: 50Gi
    alertmanagerMain:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    kubeStateMetrics:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    openshiftStateMetrics:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    telemeterClient:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    k8sPrometheusAdapter:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
    thanosQuerier:
      nodeSelector:
        prometheus: "true"
      tolerations:
      - effect: NoSchedule
        key: "node-role.kubernetes.io/master"
{% endif %}
