---
apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "lv-worker-localstorage"
  namespace: "openshift-local-storage"
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
      - key: "localstorage"
        operator: In
        values:
        - "true"
  tolerations:
  - effect: NoSchedule
    key: "node-role.kubernetes.io/master"
  storageClassDevices:
  - storageClassName: "localstorage-sc"
    volumeMode: Filesystem
    fsType: xfs
    devicePaths:
{% for i in range(controlplane_localstorage_lv_count) %}
      - "/dev/vg_ls/lv_cp_tv{{ '%02d' % i }}"
{% endfor %}
{% for i in range(worker_localstorage_lv_count) %}
      - "/dev/vg_ls/lv_w_tv{{ '%02d' % i }}"
{% endfor %}
