# Secret for BareMetalHost Baseboard Management Controller (BMC)
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ bmc_secret_name }}
  namespace: openshift-machine-api
data:
  password: {{ bmc_password_base64 }}
  username: {{ bmc_username_base64 }}
type: Opaque
