{% set _cpu_count = hostvars[_current_vm]['cpus'] | int -%}
<domain type='kvm'>
  <name>{{ _current_vm }}</name>
  <uuid>{{ hostvars[_current_vm]['domain_uuid'] }}</uuid>
  <memory unit='GiB'>{{ hostvars[_current_vm]['memory'] }}</memory>
  <currentMemory unit='GiB'>{{ hostvars[_current_vm]['memory'] }}</currentMemory>
{% if vm_hugepages %}
  <memoryBacking>
    <hugepages>
      <page size='1048576' unit='KiB'/>
    </hugepages>
  </memoryBacking>
{% endif %}
  <vcpu placement='static'>{{ _cpu_count }}</vcpu>
  <os>
    <type arch='x86_64' machine='pc-q35-rhel7.6.0'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
{% if vm_igb_nics | default(false) %}
    <ioapic driver='qemu'/>
{% endif %}
  </features>
{% if vnuma_enabled %}
{% set _host_numa = _host_numa_nodes.stdout | int %}
{% set _vm_numa_nodes = _host_numa if _host_numa <= (_cpu_count // 2) else (_cpu_count // 2) %}
{% set _vm_numa_memory = hostvars[_current_vm]['memory'] | int // _vm_numa_nodes %}
{% set _vm_sockets = 1 if _cpu_count < 8 else 2 if _cpu_count <= 16 else 4 %}
{% set _vm_cores = _cpu_count // _vm_sockets // 2 %}
{% set _vm_threads = 2 %}
{% set _cpus_per_node = _cpu_count // _vm_numa_nodes %}
  <cpu mode='host-model' check='partial'>
    <model fallback='allow'/>
    <topology sockets='{{ _vm_sockets }}' cores='{{ _vm_cores }}' threads='{{ _vm_threads }}'/>
    <numa>
{%    for node in range(_vm_numa_nodes) %}
      <cell id='{{ node }}' cpus='{{ node * _cpus_per_node }}-{{ (node + 1) * _cpus_per_node - 1 }}' memory='{{ _vm_numa_memory }}' unit='GiB'/>
{%    endfor %}
    </numa>
  </cpu>
  <numatune>
{%  if vnuma_memory_placement == 'static' %}
    <memory mode='{{ vnuma_memory_mode }}' placement='static' nodeset='{{ range(_vm_numa_nodes)|join(",") }}'/>
{%    for node in range(_vm_numa_nodes) %}
    <memnode cellid='{{ node }}' mode='{{ vnuma_memory_mode }}' nodeset='{{ node }}'/>
{%    endfor %}
{%  else %}
    <memory mode='{{ vnuma_memory_mode }}' placement='{{ vnuma_memory_placement }}'/>
{%  endif %}
  </numatune>
{% else %}
  <cpu mode='host-model' check='partial'>
    <model fallback='allow'/>
  </cpu>
{% endif %}
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' discard='unmap'/>
      <source file='{{ hostvars[_current_vm]['disk_location'] }}/{{ _current_vm }}.qcow2'/>
      <target dev='sda' bus='scsi'/>
      <address type='drive' controller='0' bus='0' target='0' unit='0'/>
    </disk>
{% if 'disk2_location' in hostvars[_current_vm] %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' discard='unmap'/>
      <source file='{{ hostvars[_current_vm]['disk2_location'] }}/{{ _current_vm }}-sdb.qcow2'/>
      <target dev='sdb' bus='scsi'/>
      <address type='drive' controller='0' bus='0' target='0' unit='1'/>
    </disk>
{% endif %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <target dev='sdc' bus='sata'/>
      <readonly/>
      <address type='drive' controller='0' bus='0' target='0' unit='2'/>
    </disk>
    <controller type='scsi' index='0' model='virtio-scsi'>
      <address type='pci' domain='0x0000' bus='0x02' slot='0x00' function='0x0'/>
    </controller>
    <controller type='usb' index='0' model='ich9-ehci1'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x1d' function='0x7'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci1'>
      <master startport='0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x1d' function='0x0' multifunction='on'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci2'>
      <master startport='2'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x1d' function='0x1'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci3'>
      <master startport='4'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x1d' function='0x2'/>
    </controller>
    <controller type='sata' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x1f' function='0x2'/>
    </controller>
    <controller type='pci' index='0' model='pcie-root'/>
    <controller type='pci' index='1' model='pcie-root-port'>
      <model name='pcie-root-port'/>
      <target chassis='1' port='0x10'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0' multifunction='on'/>
    </controller>
    <controller type='pci' index='2' model='pcie-root-port'>
      <model name='pcie-root-port'/>
      <target chassis='2' port='0x11'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x1'/>
    </controller>
    <controller type='pci' index='3' model='pcie-root-port'>
      <model name='pcie-root-port'/>
      <target chassis='3' port='0x12'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x2'/>
    </controller>
    <controller type='pci' index='4' model='pcie-root-port'>
      <model name='pcie-root-port'/>
      <target chassis='4' port='0x13'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x3'/>
    </controller>
    <interface type='bridge'>
      <mac address='{{ hostvars[_current_vm]['mac_address'] }}'/>
      <source bridge='br0'/>
      <model type='virtio'/>
{% if hostvars[_current_vm]['bw_limit'] | default(false) %}
      <bandwidth>
        <inbound average='{{ hostvars[_current_vm]['bw_avg'] }}' peak='{{ hostvars[_current_vm]['bw_peak'] }}' burst='{{ hostvars[_current_vm]['bw_burst'] }}'/>
        <outbound average='{{ hostvars[_current_vm]['bw_avg'] }}' peak='{{ hostvars[_current_vm]['bw_peak'] }}' burst='{{ hostvars[_current_vm]['bw_burst'] }}'/>
      </bandwidth>
{% endif %}
      <address type='pci' domain='0x0000' bus='0x01' slot='0x00' function='0x0'/>
    </interface>
{% if vm_igb_nics | default(false) %}
{% for i in range(1, 6) %}
    <interface type='bridge'>
{% set mac_prefix = "%s:%02x" | format('52:54:00',i) %}
      <mac address='{{ mac_prefix | community.general.random_mac(seed=_current_vm) }}'/>
      <source bridge='br0'/>
      <model type='igb'/>
      <address type='pci' domain='0x0000' bus='{{ "0x%02x" | format(i + 4) }}' slot='0x00' function='0x0'/>
    </interface>
{% endfor %}
    <iommu model='intel'>
      <driver intremap='on'/>
    </iommu>
{% endif %}
    <serial type='pty'>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <input type='tablet' bus='usb'>
      <address type='usb' bus='0' port='1'/>
    </input>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>
    <graphics type='vnc' port='{{ hostvars[_current_vm]['vnc_port'] }}' autoport='no' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>
    <video>
      <model type='vga' heads='1' primary='yes'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x0'/>
    </video>
    <memballoon model='virtio'>
      <address type='pci' domain='0x0000' bus='0x03' slot='0x00' function='0x0'/>
    </memballoon>
  </devices>
</domain>
